ul,li{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul li{list-style:none}
input{border: none;}
li.active{background-color: #F6F7F9}
hr{display: block; height: 1px; border: 0; background-color: #EAEBEF; padding: 0; }
.absolute {position: absolute ;}
.relative {position: relative ;}
.fl {float:left}
.fr {float:right}
.fn {float:none ;}

.clear_both,.clb,.clear {clear:both}
.c {clear:both; height:0; overflow:hidden}
.over-hidden{overflow:hidden}
.pointer{cursor:pointer}

.hidden{display:none }

.noBoder,#noBoder{border:none}
.noBg{background:none}
a.no_under:hover{text-decoration:none}
.b{font-weight: 600 ;}

/*color font */
.lh{line-height: normal;}
.lh12{line-height: 12px }
.lh14{line-height: 14px }
.lh16{line-height: 16px }
.lh18{line-height: 18px }
.lh20{line-height: 20px }
.lh22{line-height: 22px }
.lh26{line-height: 26px }
.lh30{line-height: 30px }
.lh35{line-height: 35px }
.lh40{line-height: 40px }
.lh60{line-height: 60px }

.f9{font-size:9px }
.f10{font-size:10px }
.f11{font-size:11px }
.f12{font-size:12px }
.f13{font-size:13px }
.f14{font-size:14px }
.f15{font-size:15px }
.f16{font-size:16px }
.f17{font-size:17px }
.f18{font-size:18px }
.f20{font-size:20px }
.f22{font-size:22px }
.f24{font-size:24px }
.f26{font-size:26px }
.f28{font-size:28px }
.f40{font-size:40px }
.f60{font-size:60px }

.gray{color: #8e8e93 }
.grayE{color: #EAEBEF }
.grayF{color: #f4f8fb }
.blue{color: #5890ff }
.cyan{color: #2d9ec3 }
.dark{color: #0D1524 }
.black{color: #000 }
.red{color: #FF0000 }
.green{color: #27ae60 }
.orange{color: #d35400 }
.yellow{color: #f1c40f }
.white{color: #FFF }

.bgBlack{background-color: #212121 }
.bgCyan{background-color: #2d9ec3 }
.bgBlue{background-color: #5890ff }
.bgBlueDark{background-color: #39414e }
.bgBlueLight{background-color: #acc8ff }
.bgWhite{background-color: #FFFFFF }
.bgRed{background-color: #ff3b30 }
.bgGreen{background-color: #27ae60 }
.bgYellow{background-color: #f1c40f }
.bgOrange{background-color: #d35400 }
.bgGray{background-color: #EAEBEF }
.bgGray img{vertical-align: middle;}
.bgGrayF{background-color: #f4f8fb }
.bgGrayF2{background-color: #F1F0F0 }
.bgGrayF3{background-color: #F6F7F9 }
.bgGrayF4{background-color: #F2F2F2 }
.bgGrayD{background-color: #333 }


.br3{border-radius: 3px }
.br5{border-radius: 5px }
.br10{border-radius: 10px }

.brBR10{border-bottom-right-radius: 10px }
.brBL10{border-bottom-left-radius: 10px }

.brTR10{border-top-right-radius: 10px }
.brTL10{border-top-left-radius: 10px }

.italic{font-style: italic}

/* margin */
.mT-5{margin-top:-5px }
.mx{margin: 0 auto;}
.m0{margin:0 }
.mT0{margin-top:0px }
.mT2{margin-top:2px }
.mT3{margin-top:3px }
.mT5{margin-top:5px }
.mT7{margin-top:7px }
.mT8{margin-top:8px }
.mT10{margin-top:10px }
.mT15{margin-top:15px }
.mT20{margin-top:20px }
.mT25{margin-top:25px }
.mT28{margin-top:28px }
.mT30{margin-top:30px }
.mT40{margin-top:40px }
.mT50{margin-top:50px }
.mT60{margin-top:60px }
.mT70{margin-top:70px }
.mT80{margin-top:80px }
.mT90{margin-top:90px }

.mB0{margin-bottom:0px }
.mB5{margin-bottom:5px }
.mB8{margin-bottom:8px }
.mB10{margin-bottom:10px }
.mB15{margin-bottom:15px }
.mB20{margin-bottom:20px }
.mB25{margin-bottom:25px }
.mB30{margin-bottom:30px }
.mB40{margin-bottom:40px }
.mB50{margin-bottom:50px }
.mB60{margin-bottom:60px }
.mB70{margin-bottom:70px }
.mB80{margin-bottom:80px }

.mL0{margin-left:0px }
.mL2{margin-left:2px }
.mL3{margin-left:3px }
.mL5{margin-left:5px }
.mL10{margin-left:10px }
.mL15{margin-left:15px }
.mL20{margin-left:20px }
.mL25{margin-left:25px }
.mL30{margin-left:30px }
.mL35{margin-left:35px }
.mL45{margin-left:45px }
.mL50{margin-left:50px }
.mL55{margin-left:55px }
.mL60{margin-left:60px }
.mL65{margin-left:65px }
.mL70{margin-left:70px }
.mL80{margin-left:80px }
.mL85{margin-left:85px }
.mL90{margin-left:90px }
.mL95{margin-left:95px }
.mL100{margin-left:100px }
.mL145{margin-left:145px }
.mL180{margin-left:180px }
.mL260{margin-left:260px }
.mL265{margin-left:265px }

.mR2{margin-right:2px }
.mR5{margin-right:5px }
.mR7{margin-right:7px }
.mR10{margin-right:10px }
.mR15{margin-right:15px }
.mR20{margin-right:20px }
.mR45{margin-right:45px }
.mR60{margin-right:60px }
.mR120{margin-right:120px }

/* padding */
.p0{padding:0 }
.p2{padding:2px }
.p5{padding:5px }
.p10{padding:10px }
.p15{padding:15px }
.p20{padding:20px }

.pT0{padding-top:0px }
.pT2{padding-top:2px }
.pT3{padding-top:3px }
.pT4{padding-top:4px }
.pT5{padding-top:5px }
.pT10{padding-top:10px }
.pT15{padding-top:15px }
.pT20{padding-top:20px }
.pT25{padding-top:25px }
.pT30{padding-top:30px }
.pT40{padding-top:40px }
.pT50{padding-top:50px }

.pL5{padding-left:5px }
.pL10{padding-left:10px }
.pL15{padding-left:15px }
.pL20{padding-left:20px }
.pL25{padding-left:25px }
.pL28{padding-left:28px }
.pL30{padding-left:30px }
.pL35{padding-left:35px }
.pL40{padding-left:40px }
.pL55{padding-left:55px }

.pR5{padding-right:5px }
.pR10{padding-right:10px }
.pR15{padding-right:15px }
.pR20{padding-right:20px }
.pR25{padding-right:25px }
.pR30{padding-right:30px }
.pR35{padding-right:35px }
.pR40{padding-right:40px }

.pB0{padding-bottom:0px }
.pB3{padding-bottom:3px }
.pB5{padding-bottom:5px }
.pB10{padding-bottom:10px }
.pB15{padding-bottom:15px }
.pB30{padding-bottom:30px }
.pB55{padding-bottom:55px }
.pB65{padding-bottom:65px }

.pTRL10{padding: 10px 10px 0 }
.pTRL15{padding: 15px 15px 0 }
.pTBL15{padding: 15px 0 15px 15px }
.pRL10{padding-right: 10px ; padding-left: 10px }
.pRL15{padding-right: 15px ; padding-left: 15px }
.pTB5{padding-top: 5px ; padding-bottom: 5px }
.pTB10{padding-top: 10px ; padding-bottom: 10px }
.pTB15{padding-top: 15px ; padding-bottom: 15px }
.p5-15{padding: 5px 15px; }

/* Icon */
.icon {font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; /*width: 1em; */margin-right: .2em; text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* You can be more comfortable with increased icons size */
    font-size: 160%;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.animate-spin {-moz-animation: spin 1s infinite linear; -o-animation: spin 1s infinite linear; -webkit-animation: spin 1s infinite linear; animation: spin 1s infinite linear; display: inline-block; }
@-moz-keyframes spin {
  0% {-moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% {-moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% {-moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% {-moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}
@keyframes spin {
  0% {-moz-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% {-moz-transform: rotate(359deg); -o-transform: rotate(359deg); -webkit-transform: rotate(359deg); transform: rotate(359deg); }
}

.text-center{text-align: center;}
.text-right{text-align: right;}

.bd01{border: 1px solid rgba(0, 0, 0, .10) }
.bdB005{border-bottom: 1px solid rgba(0, 0, 0, .05)}
.bdB01{border-bottom: 1px solid rgba(0, 0, 0, .10)}
.bdB02{border-bottom: 1px solid rgba(0, 0, 0, .20)}
.bdB03{border-bottom: 1px solid rgba(0, 0, 0, .30)}
.bdB05{border-bottom: 1px solid rgba(0, 0, 0, .50)}
.bdBE10{border-bottom: 10px solid #EAEBEF }

.bdT1001{border-top: 10px solid rgba(0, 0, 0, .10)}

.bdT005{border-top: 1px solid rgba(0, 0, 0, .05)}
.bdT01{border-top: 1px solid rgba(0, 0, 0, .1)}
.bdT02{border-top: 1px solid rgba(0, 0, 0, .2)}

.bdR01{border-right: 1px solid rgba(0, 0, 0, .10)}

.border{border: 1px solid #8e8e93}
.border_none{border: none}
.inline_block{display: inline-block}
.display-table{display: table;
    vertical-align: middle;}
.display-table-cell{display: table-cell;vertical-align: middle;}
.w100p {width: 100%}
.w95p {width: 95%}
.w90p {width: 90%}
.w85p {width: 85%}
.w80p {width: 80%}
.w75p {width: 75%}
.w70p {width: 70%}
.w65p {width: 65%}
.w60p {width: 60%}
.w55p {width: 55%}
.w50p {width: 50%}
.w45p {width: 45%}
.w40p {width: 40%}
.w33p {width: 33%}
.w25p {width: 25%}
.w20p {width: 20%}

.w640 {width: 640px }
.w600 {width: 600px }
.w510 {width: 510px }
.w500 {width: 500px }
.w300 {width: 300px }
.w265 {width: 265px }
.w260 {width: 260px }
.w230 {width: 230px }
.w250 {width: 250px }
.w210 {width: 210px }
.w200 {width: 200px }
.w180 {width: 180px }
.w160 {width: 160px }
.w150 {width: 150px }
.w143 {width: 143px }
.w130 {width: 130px }
.w120 {width: 120px }
.w110 {width: 110px }
.w100 {width: 100px }
.w320 {width: 320px }
.w90 {width: 90px }
.w80 {width: 80px }
.w70 {width: 70px }
.w60 {width: 60px }
.w50 {width: 50px }
.w40 {width: 40px }
.w30 {width: 30px }
.w20 {width: 20px }
.w10 {width: 10px }

.h25 {height: 25px }
.h30 {height: 30px }
.h35 {height: 35px }
.h40 {height: 40px }
.h50 {height: 50px }
.h60 {height: 60px }
.h80 {height: 80px }
.h90 {height: 90px }
.h100 {height: 100px }
.h143 {height: 143px }
.h160 {height: 160px }
.h320 {height: 320px }
.h350 {height: 350px }


.t0{top: 0;}
.t5{top: 5px;}
.t10{top: 10px;}
.t12{top: 12px;}
.t30{top: 30px;}
.t35{top: 35px;}

.r0{right: 0;}
.r5{right: 5px;}
.r10{right: 10px;}
.r15{right: 15px;}
.r60{right: 60px;}

.b0{bottom: 0;}
.l0{left: 0;}

.item-inner-nb,.item-inner-nb:after{background: none ;}
.item-padd{padding: 0 15px 15px 15px;border-bottom: 1px solid #D0D0D0}

.blink {animation: blinker 2s linear infinite;}
@keyframes blinker {80% { opacity: 0; }}
.pc_avatar {
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}
.button {
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height: 29px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}
.button.button-fill {
    color: #fff;
    background: #007aff;
    border: none;
}
.button.button-big {
    font-size: 17px;
    height: 44px;
    line-height: 42px;
}
.ipt-big{width: 100%; height: 50px; border-radius: 5px; border: 1px solid #DDD;font-size: 17px;}

.video {position: relative; padding-bottom: 56.25%; /* 16:9 */ height: 0; }
.video iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.scroll {white-space: nowrap; overflow-x: auto; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }

.op_02{opacity: 0.2}
.direction-r{
    direction: rtl;
}
@media (max-width: 767px) {
    .hidden-m{display: none }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .hidden-t{display: none }
}
@media (min-width: 1024px) {
    .hidden-d{display: none }
}

/********************   Images  *********************/
.img {
    background-repeat: no-repeat;
}

.img-p-c {
    background-position: 50% 50% !important;
}

.img-p-t {
    background-position: 50% 0% !important;
}

.img-p-r {
    background-position: 100% 50% !important;
}

.img-p-b {
    background-position: 50% 100% !important;
}

.img-p-l {
    background-position: 00% 50% !important;
}

.img-100 {
    background-size: 100% !important;
}

.img-95 {
    background-size: 95% !important;
}

.img-90 {
    background-size: 90% !important;
}

.img-85 {
    background-size: 85% !important;
}

.img-80 {
    background-size: 80% !important;
}

.img-75 {
    background-size: 75% !important;
}

.img-70 {
    background-size: 70% !important;
}

/********************   End Images  *********************/

/****************    LINE    ******************/
.line {
    height: 1px;
    width: 100%;
    background: #E5E5E5;
}

/****************    END LINE    ******************/

.f-wrap{
    flex-wrap: wrap;
}