<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div class="container m-auto">
			<section class="category_box display-flex align-items-center">
				<div class="item3 display-flex align-items-center justify-content-center">
					<img src="./style/images/Frame2.svg"/>
					<div>
						<b>Voucher</b>
						<span>Ẩm thực</span>
					</div>
				</div>
			</section>
			<form method="post" class="category_filter_box display-flex">
				<div class="form-group col-xs-6">
					<select class="form-control">
						<option value="0">Tỉnh, Thành Phố</option>
					</select>
				</div>
				<div class="form-group col-xs-3">
					<select class="form-control">
						<option value="0">Sắp xếp</option>
					</select>
				</div>
			</form>
		</div>
		<div class="container m-auto">
			<section class="gift_hot_box mb_50">
				<div class="box_body display-flex">
					<div class="no_result">
						<span>
							Hệ thống đang cập nhật kho quà, vui lòng quay lại sau.
						</span>
					</div>
				</div>
			</section>
		</div>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
			Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
