<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div class="container m-auto">
			<section class="detail_info_box display-flex">
				<div class="detail_swiper_thumb swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="" class="display-block">
								<img src="./style/images/detail/image2.png" class="display-block"/>
							</a>
						</div>
					</div>
				</div>
				<div class="info_right">
					<h1>Thẻ Hội Viên Accor Plush</h1>
					<p class="price_refund">Số tiền quy đổi: 400,000,000 VNĐ</p><br/>
					<div class="display-flex line_btn align-items-center">
						<a href="" class="btn">
							Lấy quà tặng
						</a>
					</div>
					<div class="caption mb_42">
						Quý khách chưa tích lũy đủ số tiền quy đổi. <a href="#">Tìm hiểu thêm.</a>
					</div>
					<div class="brand">
						<a href="#" class="display-flex align-items-center">
							<img src="./style/images/detail/the-coffee-house-logo.png"/>
							<div class="display-flex justify-content-center">
								<b>The Coffee House</b>
								<span>Trà & Cafe</span>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="product_information display-flex">
				<div class="left">
					<span>
						Thông tin sản phẩm
					</span>
				</div>
				<div class="right">
					<div class="shortdes">
						- eGift được áp dụng tại hệ thống rạp BHD. Quý khách có thể xem thông tin rạp BHD áp dụng tại phần “Vị trí cửa hàng”.<br/>
						- Mỗi eGift có giá trị quy đổi thành 1 vé xem phim 2D và 1 bắp 32 oz và chỉ áp dụng mua trực tiếp tại tất cả các rạp BHD, không áp dụng mua online.<br/>
						- Vui lòng xuất trình đường link nhận quà có chứa mã eGift cho nhân viên tại quầy trước khi thanh toán để được áp dụng eGift.
					</div>
				</div>
			</section>
			<section class="product_information display-flex">
				<div class="left">
					<span>
						Điều kiện sử dụng
					</span>
				</div>
				<div class="right shortdes_hidden">
					<div class="shortdes">
						- eGift được áp dụng tại hệ thống rạp BHD. Quý khách có thể xem thông tin rạp BHD áp dụng tại phần “Vị trí cửa hàng”.<br/>
						- Mỗi eGift có giá trị quy đổi thành 1 vé xem phim 2D và 1 bắp 32 oz và chỉ áp dụng mua trực tiếp tại tất cả các rạp BHD, không áp dụng mua online.<br/>
						- Vui lòng xuất trình đường link nhận quà có chứa mã eGift cho nhân viên tại quầy trước khi thanh toán để được áp dụng eGift.<br/>
						- eGift chỉ có giá trị khi được hệ thống ghi nhận chưa sử dụng khi quét/nhập mã, Ban Quản lý rạp có quyền từ chối phục vụ nếu mã eGift sai quy định.<br/>
						- eGift sẽ không được hoàn lại tiền thừa và không có giá trị quy đổi thành tiền mặt.<br/>
						- Áp dụng cho các suất chiếu trong tuần bao gồm cả các ngày Lễ, các suất chiếu đặc biệt, suất chiếu sớm và áp dụng chung với các ưu đãi khác.
					</div>
					<a href="" class="btn" id="TOGGLE_DESCRIPTION">
						<span>
							Xem thêm
						</span>
						<span>
							Thu gọn
						</span>
					</a>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="suggestions_box">
				<h3>
					<span>Quà tặng gợi ý</span>
				</h3>
				<div class="detail_swiper_item swiper-container" data-item-number="4">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label class="price">1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<section class="suggestions_box">
				<h3>
					<span>Quà tặng đã xem</span>
				</h3>
				<div class="detail_swiper_item swiper-container" data-item-number="4">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label class="price">1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
		</div>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
			Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
