<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div class="container m-auto">
			<section class="detail_info_dining_box display-flex">
				<div class="display-flex">
					<div class="left">
						<img src="./style/images/detail/egift.png"/>
						<h2>
							<span>
								eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32Oz
							</span>
						</h2>
						<b>100.000 VNĐ</b>
						<div class="display-flex">
							<div>
								Hotline: <span>0899 189 199</span>
							</div>
							<div class="text-right">
								Hạn sủ dụng: <span>20/11/2018</span>
							</div>
						</div>
					</div>
					<div style="flex: 1"></div>
					<div class="right">
						<img src="./style/images/detail/qrcode.png"/>
						<div>
							<span>UB123456TRQYWE789</span>
						</div>
					</div>
				</div>
				<div class="text-center">
					<a href="" class="btn">
						<span>Sao chép link quà tặng</span>
					</a>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="product_information display-flex">
				<div class="left">
					<span>
						Thông tin sản phẩm
					</span>
				</div>
				<div class="right">
					<div class="shortdes">
						- eGift được áp dụng tại hệ thống rạp BHD. Quý khách có thể xem thông tin rạp BHD áp dụng tại phần “Vị trí cửa hàng”.<br/>
						- Mỗi eGift có giá trị quy đổi thành 1 vé xem phim 2D và 1 bắp 32 oz và chỉ áp dụng mua trực tiếp tại tất cả các rạp BHD, không áp dụng mua online.<br/>
						- Vui lòng xuất trình đường link nhận quà có chứa mã eGift cho nhân viên tại quầy trước khi thanh toán để được áp dụng eGift.
					</div>
				</div>
			</section>
			<section class="product_information display-flex">
				<div class="left">
					<span>
						Điều kiện sử dụng
					</span>
				</div>
				<div class="right shortdes_hidden">
					<div class="shortdes">
						- eGift được áp dụng tại hệ thống rạp BHD. Quý khách có thể xem thông tin rạp BHD áp dụng tại phần “Vị trí cửa hàng”.<br/>
						- Mỗi eGift có giá trị quy đổi thành 1 vé xem phim 2D và 1 bắp 32 oz và chỉ áp dụng mua trực tiếp tại tất cả các rạp BHD, không áp dụng mua online.<br/>
						- Vui lòng xuất trình đường link nhận quà có chứa mã eGift cho nhân viên tại quầy trước khi thanh toán để được áp dụng eGift.<br/>
						- eGift chỉ có giá trị khi được hệ thống ghi nhận chưa sử dụng khi quét/nhập mã, Ban Quản lý rạp có quyền từ chối phục vụ nếu mã eGift sai quy định.<br/>
						- eGift sẽ không được hoàn lại tiền thừa và không có giá trị quy đổi thành tiền mặt.<br/>
						- Áp dụng cho các suất chiếu trong tuần bao gồm cả các ngày Lễ, các suất chiếu đặc biệt, suất chiếu sớm và áp dụng chung với các ưu đãi khác.
					</div>
					<a href="" class="btn" id="TOGGLE_DESCRIPTION">
						<span>
							Xem thêm
						</span>
						<span>
							Thu gọn
						</span>
					</a>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="location_box">
				<h4 class="box_heading">
					<span>
						Địa điểm sử dụng
					</span>
					<label>123 cửa hàng</label>
				</h4>
				<div class="box_body display-flex">
					<div class="left">
						<img src="./style/images/detail/map.png"/>
					</div>
					<div class="right is_scroll">
						<div class="form-group">
							<select class="form-control">
								<option value="0">Tỉnh/Thành</option>
							</select>
						</div>
						<ul class="list_location">
							<li>
								<a class="display-flex align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex item_disabled align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex item_disabled align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex item_disabled align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex item_disabled align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
							<li>
								<a class="display-flex align-items-center" href="">
									<span>456 Nguyễn Oanh, phường Đa Kao, Quận 1, Hồ Chí Minh</span>
									<label>
										Không áp dụng
									</label>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="suggestions_box">
				<h3>
					<span>Quà tặng cùng danh mục</span>
				</h3>
				<div class="detail_swiper_item swiper-container" data-item-number="4">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label class="price">1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<section class="suggestions_box">
				<h3>
					<span>Quà tặng đã xem</span>
				</h3>
				<div class="detail_swiper_item swiper-container" data-item-number="4">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label class="price">1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="itemsuggest">
								<a class="voucher-img" style="background-image:url(./style/images/detail/slide.png)">
								</a>
								<div class="info">
									<a class="shop" href="">Kichi Kichi</a><br/>
									<a class="name" href="">[Toànquốc] 4 suất buffet lẩu băng chuyền tại Kichi Kichi</a>
									<label>1,000,000 VNĐ</label>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Arrows -->
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
		</div>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
				Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
