<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="top-head w100p">
				<div class="ur-logo w50p fl">
					<a href="#"><img src="./style/images/logo-urbox.svg" alt=""></a>
				</div>
				<div class="my-point w50p fr text-align-right">
					<span class="f-300 f12">Số dư</span> <span class="color-spruce f14 f-bold">4.000.000đ</span>
				</div>
			</div>
			<div class="head-tab w100p absolute bottom-0 text-align-center">
				<a href="/home" class="w50p fl f14 active">Đổi voucher</a>
				<a href="/gift" class="w50p fr f14">Voucher của tôi</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40" style=" background-image: url('./style/images/bg-vinacap.svg');">
					<div class="card-number">
						**** **** **** 1213
					</div>
				</div>
			</div>
			<div class="mT30"></div>
			<form class="searchbar hidden-search">
				<div class="searchbar-inner">
					<div class="searchbar-input-wrap">
						<input type="search" class="search-input" placeholder="Tìm thương hiệu">
						<i class="searchbar-icon"></i>
						<span class="input-clear-button"></span>
					</div>
					<span class="searchbar-disable-button if-not-aurora">Hủy</span></div>
			</form>
			<div class="searchbar-backdrop"></div>

			<div class="list searchbar-found hidden">
				<ul>
					<li class="item-content" onclick="_.click.link('/brand')">
						<div class="item-inner">
							<div class="brand-img">
								<img src="./style/images/brand-search.png" alt="">
							</div>
							<div class="item-title f16 f-300 mL10">Paris Baguette</div>
						</div>
					</li>
					<li class="item-content" onclick="_.click.link('/brand')">
						<div class="item-inner">
							<div class="brand-img">
								<img src="./style/images/brand-search.png" alt="">
							</div>
							<div class="item-title f16 f-300 mL10">Paris Baguette</div>
						</div>
					</li>
					<li class="item-content" onclick="_.click.link('/brand')">
						<div class="item-inner">
							<div class="brand-img">
								<img src="./style/images/brand-search.png" alt="">
							</div>
							<div class="item-title f16 f-300 mL10">Paris Baguette</div>
						</div>
					</li>

				</ul>
			</div>
			<div class="searchbar-not-found">
				<div class="block-inner f16 f-300">Không tìm thấy thương hiệu</div>
			</div>

			<div class=" searchbar-hide-on-search">
				<div class="clear_both"></div>
				<div class="block-filter">
					<h4 class="title f16">Danh mục</h4>
					<ul class="filter-list">
						<li><a href="/catalog">
							<div><img src="./style/images/filter-all.svg" alt=""></div>
							<span>Tất cả</span>
						</a>
						</li>
						<li><a href="/catalog">
							<div><img src="./style/images/filter-res.svg" alt=""></div>
							<span>Nhà hàng<br>Quán ăn</span></a>
						</li>
						<li><a href="/catalog">
							<div><img src="./style/images/filter-cafe.svg" alt=""></div>
							<span>Cafe<br>Đồ uống</span>
						</a>
						</li>
						<li><a href="/catalog">
							<div><img src="./style/images/filter-cake.svg" alt=""></div>
							<span>Tiệm bánh<br>Kem</span></a>

						</li>
					</ul>
				</div>
				<div class="block-brand mT20">
					<h4 class="title f16">Thương hiệu yêu thích</h4>
					<ul class="brand-list">
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
					</ul>
				</div>
				<div class="block-brand mT20">
					<h4 class="title f16">Thương hiệu đã xem</h4>
					<ul class="brand-list">
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-1.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-2.png" alt="">
						</a></li>
						<li><a href="/brand">
							<img src="style/images/brand-3.png" alt="">
						</a></li>
					</ul>
				</div>
				<a class="view-all-brand" href="/catalog">Xem tất cả thương hiệu</a>
				<div class="mT20">
					<h4 class="title">Voucher nổi bật</h4>
					<div class="list media-list">
						<ul>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
							<li>
								<div onclick="_.click.detail(12)" class="item-link item-content">
									<div class="item-media"><img src="./style/images/gift-1.svg"/></div>
									<div class="item-inner">
										<div class="item-title">eGift giảm giá 10% The Coffee House</div>
										<div class="item-subtitle color-spruce f14 f-bold">100.000đ</div>
									</div>
								</div>

							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
