<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section class="home_banner swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="" class="display-block">
						<img src="./style/images/image00.png" class="display-block"/>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="" class="display-block">
						<img src="./style/images/image00.png" class="display-block"/>
					</a>
				</div>
			</div>
			<!-- Add Arrows -->
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
		</section>
		<div class="container m-auto">
			<section class="promotion_label_box display-flex align-items-center">
				<div>
					Khám phá các ưu đãi và đặc quyền<br/>
					dành riêng cho thẻ <b>MSB Visa Signature Dining</b>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="gift_box">
				<h4 class="box_heading">
					<span>
						Danh mục quà tặng
					</span>
				</h4>
				<div class="box_body display-flex">
					<div class="col-xs-3">
						<a href="#" class="item1 display-flex align-items-center justify-content-center">
							<img src="./style/images/Frame1.svg"/>
							<div>
								<b>Hoàn tiền</b>
								<span>khi chi tiêu</span>
							</div>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="item1 item2 display-flex align-items-center justify-content-center">
							<img src="./style/images/Frame2.svg"/>
							<div>
								<b>Voucher</b>
								<span>Ẩm thực</span>
							</div>
						</a>
					</div>
					<div class="col-xs-3">
						<a href="#" class="item1 item2 display-flex align-items-center justify-content-center">
							<img src="./style/images/Frame3.svg"/>
							<div>
								<span>Thẻ</span>
								<b>Accor Plus</b>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>
		<div class="container m-auto">
			<section class="gift_hot_box">
				<h4 class="box_heading">
					<span>
						Quà tặng nổi bật
					</span>
					<a href="">
						Xem tất cả
					</a>
				</h4>
				<div class="box_body display-flex">
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
			Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
