<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right user_info collapse navbar-collapse display-flex justify-content-end align-items-flex-center">
				<div class="customer">
					Khách hàng Nguyễn Văn A<br/>
					Số tiền tích lũy: <b class="price">3,000,000VNĐ</b>
				</div>
				<a href="" class="btn btn-default">
					<span>
						Quà của tôi
					</span>
				</a>
			</div>
		</div>
	</header>
	<main>
		<div class="container m-auto">
			<section class="category_box display-flex align-items-center">
				<div class="item3 display-flex align-items-center justify-content-center">
					<img src="./style/images/Frame2.svg"/>
					<div>
						<b>Voucher</b>
						<span>Ẩm thực</span>
					</div>
				</div>
			</section>
			<form method="post" class="category_filter_box display-flex">
				<div class="form-group col-xs-6">
					<select class="form-control">
						<option value="0">Tỉnh, Thành Phố</option>
					</select>
				</div>
				<div class="form-group col-xs-3">
					<select class="form-control">
						<option value="0">Sắp xếp</option>
					</select>
				</div>
			</form>
		</div>
		<div class="container m-auto">
			<section class="gift_hot_box">
				<div class="box_body">
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
								<span class="shop" href="">King BBQ</span>
							</a>
							<div class="info">
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
								<span class="shop" href="">King BBQ</span>
							</a>
							<div class="info">
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
								<span class="shop" href="">King BBQ</span>
							</a>
							<div class="info">
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
								<span class="shop" href="">King BBQ</span>
							</a>
							<div class="info">
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
								<span class="shop" href="">King BBQ</span>
							</a>
							<div class="info">
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
								<span class="shop" href="">King BBQ</span>
							</a>
							<div class="info">
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
				</div>
				<div class="box_footer">
					<a href="" class="pagging display-flex align-items-center justify-content-center">
						<span>Xem thêm</span>
					</a>
				</div>
			</section>
		</div>
	</main>
	<div class="footer_h"></div>
	<footer class="text-center">
		<div class="tab_bar display-flex">
			<a href="" class="flex_1">
				<img src="./style/images/mobile/menu1.svg"/>
				<span>
					<label>
						Trở lại
					</label>
				</span>
			</a>
			<a href="" class="flex_1 active">
				<img src="./style/images/mobile/menu2.svg"/>
				<span>
					<label>
						Hoàn tiền<br/>Chi tiêu
					</label>
				</span>
			</a>
			<a href="" class="flex_1">
				<img src="./style/images/mobile/menu3.svg"/>
				<span>
					<label>
						Voucher<br/>Ẩm thực
					</label>
				</span>
			</a>
			<a href="" class="flex_1">
				<img src="./style/images/mobile/menu4.svg"/>
				<span>
					<label>
						Thẻ<br/>Accor Plus
					</label>
				</span>
			</a>
		</div>
		<div class="footer-copyright">
			<span>
				Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.<br/>
				Operated by UrBox
			</span>
		</div>
	</footer>
	<a href="#" class="back_to_top display-flex flex-column" id="toTop">
		<img src="./style/images/mobile/prev_top_btn.svg"/>
		<span>Quay về đầu trang</span>
	</a>
</div>
