<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main class="info_delivery_page">


		<p><a class="button popup-open" href="#" data-popup=".popup-about">Pop-up Xác nhận đổi quà Cash-back</a></p>
		<p><a class="button popup-open" href="#" data-popup=".popup-cash-back-success">Pop-up Thông báo đổi quà Cash-back thành công</a></p>
		<p><a class="button popup-open" href="#" data-popup=".popup-voucher-success">Pop-up Thông báo đổi quà Voucher thành công</a></p>
		<p><a class="button popup-open" href="#" data-popup=".popup-card-accor">Pop-up Xác nhận đổi thẻ Accor</a></p>
		<p><a class="button popup-open" href="#" data-popup=".popup-card-accor-success">Pop-up Thông báo đổi thẻ Accor thành công</a></p>
		<p><a class="button popup-open" href="#" data-popup=".popup-confirm-voucher">Pop-up Xác nhận đổi quà Voucher</a></p>


		<div class="popup popup-about popup_msb_new">
			<a class="link popup-close popup_msb_close" href="#">Close popup</a>
			<div class="popup_content display-flex flex-column pd1">
				<h3 class="h3">
					<span>Quý khách muốn hoàn số tiền x đồng?</span>
				</h3>
				<div class="actions">
					<a href="javascript:void(0)" class="btn btn_confirm">
						<span>Xác nhận</span>
					</a>
					<a href="#" class="popup-close btn btn_cancel float-right">
						<span>Quay lại</span>
					</a>
				</div>
			</div>
		</div>
		<div class="popup popup-cash-back-success popup_msb_new">
			<a class="link popup-close popup_msb_close" href="#">Close popup</a>
			<div class="popup_content display-flex flex-column pd2">
				<h3 class="h3">
					<span>Chúc mừng quý khách đã hoàn tiền thành công</span>
				</h3>
				<div class="time">
					<span>Thời gian đổi quà thành công:xx/xx/20xx lúc xx:xx</span>
				</div>
				<div class="description">
					MSB sẽ hoàn tiền cho Quý khách vào tài khoản Thẻ trong vòng x ngày làm việc. Để được hỗ trợ thêm, vui lòng liên hệ 1800 59 9999.
				</div>
				<div class="description1">
					Trân trọng cảm ơn Quý khách đã sử dụng dịch vụ của MSB.
				</div>
				<div class="actions text-center">
					<a href="javascript:void(0)" class="btn btn_confirm">
						<span>Trang chủ</span>
					</a>
				</div>
			</div>
		</div>
		<div class="popup popup-voucher-success popup_msb_new">
			<a class="link popup-close popup_msb_close" href="#">Close popup</a>
			<div class="popup_content display-flex flex-column pd3">
				<h3 class="h3">
					<span>Chúc mừng quý khách đã đổi quà thành công</span>
				</h3>
				<div class="description">
					Để được hỗ trợ thêm, vui lòng liên hệ 1800 59 9999.
				</div>
				<div class="description1">
					Trân trọng cảm ơn Quý khách đã sử dụng dịch vụ của MSB.
				</div>
				<div class="actions text-center">
					<a href="javascript:void(0)" class="btn btn_confirm">
						<span>Trang Quà của tôi</span>
					</a>
				</div>
			</div>
		</div>
		<div class="popup popup-card-accor popup_msb_new">
			<a class="link popup-close popup_msb_close" href="#">Close popup</a>
			<div class="popup_content display-flex flex-column pd1">
				<h3 class="h3">
					<span>Quý khách muốn đổi thẻ hội viên Accor Plus?</span>
				</h3>
				<div class="actions">
					<a href="javascript:void(0)" class="btn btn_confirm">
						<span>Xác nhận</span>
					</a>
					<a href="#" class="popup-close btn btn_cancel float-right">
						<span>Quay lại</span>
					</a>
				</div>
			</div>
		</div>
		<div class="popup popup-card-accor-success popup_msb_new">
			<a class="link popup-close popup_msb_close" href="#">Close popup</a>
			<div class="popup_content display-flex flex-column pd2 pd6">
				<h3 class="h3">
					<span>Chúc mừng quý khách đã đổi thẻ thành công</span>
				</h3>
				<div class="time">
					<span>Thời gian đổi thẻ thành công:xx/xx/20xx lúc xx:xx</span>
				</div>
				<div class="description">
					Accor sẽ liên hệ với Quý khách trong vòng 03 ngày làm việc để xác nhận địa điểm giao hàng.
					Để được hỗ trợ thêm, vui lòng liên hệ 1800 59 9999.
				</div>
				<div class="description1">
					Trân trọng cảm ơn Quý khách đã sử dụng dịch vụ của MSB.
					<div>
						<a href="#" class="infor">Thông tin giao hàng</a>
					</div>
				</div>
				<div class="actions text-center">
					<a href="javascript:void(0)" class="btn btn_confirm">
						<span>Trang chủ</span>
					</a>
				</div>
			</div>
		</div>
		<div class="popup popup-confirm-voucher popup_msb_new">
			<a class="link popup-close popup_msb_close" href="#">Close popup</a>
			<div class="popup_content display-flex flex-column pd7">
				<div class="item display-flex">
					<div class="left">
						<a href="" style="background-image:url(./style/images/detail/popup.png)">
						</a>
					</div>
					<div class="right">
						<a href="">
							<h2>eGift - Tiền mặt Myway Seafood Restaurant</h2>
						</a>
						<label>Myway Seafood Restaurant</label>
						<b>1,000,000 VNĐ</b>
						<div class="display-flex">
							<b>Số lượng</b>
							<div class="display-flex line_btn_left">
								<a href="#" class="btn_minus"></a>
								<input type="text" class="input_quantity" value="0">
								<a href="#" class="btn_add"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="actions">
					<a href="javascript:void(0)" class="btn btn_confirm">
						<span>Xác nhận</span>
					</a>
					<a href="#" class="popup-close btn btn_cancel float-right">
						<span>Quay lại</span>
					</a>
				</div>
			</div>
		</div>




		<section class="form_delivery_box text-center">
			<form method="post">
				<h2><span>Thông tin nhận thẻ Accor Plus</span></h2>
				<img src="./style/images/detail/MaskGroup.png"/>
				<div class="form-group">
					<div class="label">
						<label>
							Họ và tên
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập họ và tên"/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Email
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập email"/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Số điện thoại
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập số điện thoại"/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Tỉnh/Thành phố
						</label>
					</div>
					<div class="display-flex _input">
						<select class="form-control">
							<option value="0">Tỉnh/Thành</option>
						</select>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Quận/Huyện
						</label>
					</div>
					<div class="display-flex _input">
						<select class="form-control">
							<option value="0">Chọn</option>
						</select>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Địa chỉ chi tiết
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập số nhà, tên đường..."/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Ghi chú giao hàng
							<span>(Không bắt buộc)</span>
						</label>
					</div>
					<div class="display-flex _input">
						<textarea class="form-control"></textarea>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="note">*Quà chỉ giao trong giờ hành chính (từ 9h đến 18h, thứ hai đến thứ sáu). Dự kiến thời gian giao hàng 5 đến 7 ngày</div>
				<div class="form-group form-group-radio">
					<input type="radio" id="f-option"/>
					<label for="f-option">
						Tôi tự nguyện cung cấp thông tin cho đối tác Urbox và Accor với mục đích giao quà
					</label>
					<div class="check"></div>
					<div class="display-flex _input">
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group text-center">
					<a href="" class="btn">
						<span>Gửi thông tin</span>
						<input type="submit"/>
					</a>
				</div>
			</form>
		</section>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
				Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
