<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<div class="container m-auto">
			<section class="gift_hot_box mt_20 mb_0">
				<h4 class="box_heading">
					<span>
						Quà sẵn sàng sử dụng
					</span>
					<a href="" class="btn_signature">
						<strong>
							Điều khoản chương trình Visa Signature
						</strong>
					</a>
				</h4>
				<div class="box_body display-flex">
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="gift_hot_box">
				<h4 class="box_heading">
					<span>
						Quà đã sử dụng
					</span>
				</h4>
				<div class="box_body display-flex">
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
					<div class="col-xs-3">
						<div class="itemhot1">
							<a class="voucher-img" style="background-image:url(./style/images/itemhot.png)">
								<img src="./style/images/itemhot1.png" class="brand"/>
							</a>
							<div class="info text-center">
								<a class="shop" href="">King BBQ</a><br/>
								<a class="name" href="">[Voucher] Tên Voucher Dining</a>
								<label>Miễn phí</label>
							</div>
						</div>
					</div>
				</div>
				<div class="box_footer">
					<a href="" class="pagging display-flex align-items-center justify-content-center">
						<span>Xem thêm</span>
					</a>
				</div>
			</section>
		</div>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
				Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
