<div class="page" data-name="home">
	<header>
		<div class="navbar-top container display-flex">
			<a href="#" class="navbar-brand">
				<img src="./style/images/logo.svg"/>
			</a>
			<div class="right collapse navbar-collapse display-flex flex-column align-items-flex-end">
				<div class="user_info">
					<span class="customer">Khách hàng Nguyễn Văn A - Số tiền tích lũy:</span>
					<b class="price">3,000,000VNĐ</b>
					<a href="" class="btn btn-default">
						<span>
							Quà của tôi
						</span>
					</a>
				</div>
				<nav class="nav-top-right display-flex">
					<a href="javascript:void(0)" data-menu="menu1" class="active"
					   onclick=""
					>Hoàn Tiền Chi Tiêu</a>
					<a href="javascript:void(0)" data-menu="menu2"
					   onclick=""
					>Voucher Ẩm Thực</a>
					<a href="javascript:void(0)" data-menu="menu3"
					   onclick=""
					>Thẻ Accor Plus</a>
				</nav>
			</div>
		</div>
	</header>
	<main class="info_delivery_page">
		<section class="form_delivery_box text-center">
			<form method="post">
				<h2><span>Thông tin nhận thẻ Accor Plus</span></h2>
				<img src="./style/images/detail/MaskGroup.png"/>
				<div class="form-group _error">
					<div class="label">
						<label>
							Họ và tên
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập họ và tên" value="Nguyên Văn Nguyên"/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Email
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập email"/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Số điện thoại
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập số điện thoại"/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Tỉnh/Thành phố
						</label>
					</div>
					<div class="display-flex _input">
						<select class="form-control">
							<option value="0">Tỉnh/Thành</option>
						</select>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Quận/Huyện
						</label>
					</div>
					<div class="display-flex _input">
						<select class="form-control">
							<option value="0">Chọn</option>
						</select>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Địa chỉ chi tiết
						</label>
					</div>
					<div class="display-flex _input">
						<input type="text" class="form-control" placeholder="Nhập số nhà, tên đường..."/>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="label">
						<label>
							Ghi chú giao hàng
							<span>(Không bắt buộc)</span>
						</label>
					</div>
					<div class="display-flex _input">
						<textarea class="form-control"></textarea>
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="note">*Quà chỉ giao trong giờ hành chính (từ 9h đến 18h, thứ hai đến thứ sáu). Dự kiến thời gian giao hàng 5 đến 7 ngày</div>
				<div class="form-group form-group-radio">
					<input type="radio" id="f-option"/>
					<label for="f-option">
						Tôi tự nguyện cung cấp thông tin cho đối tác Urbox và Accor với mục đích giao quà
					</label>
					<div class="check"></div>
					<div class="display-flex _input">
						<div class="fail">
							<span>
								(*)Thông tin chưa hợp lệ
							</span>
						</div>
					</div>
				</div>
				<div class="form-group text-center">
					<a href="" class="btn">
						<span>Gửi thông tin</span>
						<input type="submit"/>
					</a>
				</div>
			</form>
		</section>
	</main>
	<footer class="text-center">
		<div class="footer-copyright">
			<a href="#">
				<img src="./style/images/logo_footer.svg"/>
			</a>
			<div>
				Copyright © 2019 Ngân hàng TMCP Hàng Hải Việt Nam.
			</div>
		</div>
		<div class="footer-operated">
			<a href="#"><img src="./style/images/logo_footer2.svg"/></a>
		</div>
	</footer>
</div>
