<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="ur-logo">
				<img src="./style/images/logo-urbox.svg" alt="">
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40" style=" background-image: url('./style/images/bg-vinacap.svg');">
					<div class="card-number">
						**** **** **** 1213
					</div>
				</div>
			</div>

			<div class="mT40 f17 w320 text-center center-content lh">
				Đây là bộ quà tặng UrBox có số dư<br>
				Bạn có thể đổi quà cho nhiều lần
			</div>
			<div class="w80p center-content mB40">
				<div class="mT40 pT10 mB30">
					<a href="/guide" class="btn btn-active-white w100p">Xem hướng dẫn</a>
				</div>
				<a class="f14 f-400 display-block w100p" href="tel:+84899189199">
					Hotline: <span class="color-blue fr">0899 189 199</span>
				</a>
				<hr class="hr">
				<a class="f14 f-400 display-block w100p" href="mailto:customer@urbox.vn">
					Email: <span class="color-blue fr">customer@urbox.vn</span>
				</a>
				<hr class="hr">
			</div>
		</div>

	</div>

</div>
