<div class="page history-1" data-name="home">
    <header class="hsearch">
        <div class="navbar-top container display-flex">
            <div class="lgxx">
                <a href="#">
                    <img src="./css/images/urbox/logo.svg"/>
                </a>
            </div>
            <div class="vvvv">
                <form method="post" class="search">
                    <input type="text" placeholder="Tìm thương hiệu"/>
                </form>

            </div>
            <div class="bt">
                <div class="btl float-left">
                    <span>Giá trị:</span>
                    <strong>3.000.000đ</strong>
                </div>
                <a href="" class="btn btn_qua float-right">Quà của tôi</a>
                <div class="clear"></div>
            </div>
            <div class="region display-flex justify-content-center">
                <a href="#VN" class="active">VN</a>
                <a href="#EN">EN</a>
            </div>
        </div>
    </header>
    <main>
        <section class="brcr">
            <nav aria-label="breadcrumb" class="breadcrumb_ib">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="#">Home </a></li>
                    <li class="breadcrumb-item active" aria-current="Voucher">> Quà của tôi</li>
                </ol>
            </nav>
        </section>
        <section class="gift_me_box">
            <div class="container m-auto">
                <div class="tab_h">
                    <div>
                        <a href="#tab-1" class="tab-link tab-link-active" data-route-tab-id="tab-1">Sẵn sàng sử dụng</a>
                        <a href="#tab-2" class="tab-link" data-route-tab-id="tab-2">Đã sử dụng</a>
                        <a href="#tab-3" class="tab-link" data-route-tab-id="tab-3">Đã tặng</a>
                        <a href="#tab-4" class="tab-link" data-route-tab-id="tab-4">Lịch sử</a>
                    </div>
                </div>
                <div class="tabs tabs_c">
                    <div class="tab tab-active" id="tab-1">
                        <div class="tab_ready_used">
                            <div class="swiper-container swiper-init-s-2 demo-swiper demo-swiper-auto">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-sk">
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-pagination-page">
                                        <label>1/2</label>
                                        <span>Voucher</span>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher">
                                            <div class="item_vc1 display-flex">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr3">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher">
                                            <div class="item_vc1 display-flex">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr3">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box_list_voucher">
                                <div class="item_vc1 display-flex">
                                    <div class="thumb display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                    </div>
                                    <div class="hr3">
                                        <span></span>
                                    </div>
                                    <div class="info display-flex flex-direction-column justify-content-center">
                                        <a href="">
                                            <h3>The Coffee House</h3>
                                        </a>
                                        <strong>50.000đ</strong>
                                        <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                    </div>
                                    <div class="act display-flex justify-content-center flex-direction-column">
                                        <a href="">
                                            <img src="./css/images/urbox/ico_gift_1.svg"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="box_list_voucher">
                                <div class="item_vc1 display-flex mb-5">
                                    <div class="thumb display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                    </div>
                                    <div class="hr5">
                                        <span></span>
                                    </div>
                                    <div class="info display-flex flex-direction-column justify-content-center">
                                        <a href="">
                                            <h3>The Coffee House</h3>
                                        </a>
                                        <strong>50.000đ</strong>
                                        <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                    </div>
                                    <div class="act display-flex justify-content-center flex-direction-column">
                                        <a href="">
                                            <img src="./css/images/urbox/ico_gift_1.svg"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="hr4">
                                    <span>
                                        <label>Nhấp vào sử dụng ngay để hiển thị mã</label>
                                    </span>
                                </div>
                                <div class="actxx display-flex justify-content-center align-content-center">
                                    <a href="" class="display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/witness.svg"/>
                                        <span>
                                            Sử dụng ngay
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="box_list_voucher new_buy">
                                <div class="item_vc1 display-flex mb-5">
                                    <div class="thumb display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                    </div>
                                    <div class="hr5">
                                        <span></span>
                                    </div>
                                    <div class="info display-flex flex-direction-column justify-content-center">
                                        <a href="">
                                            <h3>The Coffee House</h3>
                                        </a>
                                        <strong>50.000đ</strong>
                                        <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                    </div>
                                    <div class="act display-flex justify-content-center flex-direction-column">
                                        <a href="">
                                            <img src="./css/images/urbox/ico_gift_1.svg"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="hr4">
                                    <span>
                                        <label>Nhập thông tin để sử dụng gói bảo hiểm</label>
                                    </span>
                                </div>
                                <div class="actxx display-flex justify-content-center align-content-center">
                                    <a href="" class="display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/icon.svg"/>
                                        <span>
                                            Điền thông tin hợp đồng
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="box_list_voucher">
                                <div class="item_vc1 display-flex mb-5">
                                    <div class="thumb display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                    </div>
                                    <div class="hr5">
                                        <span></span>
                                    </div>
                                    <div class="info display-flex flex-direction-column justify-content-center">
                                        <a href="">
                                            <h3>The Coffee House</h3>
                                        </a>
                                        <strong>50.000đ</strong>
                                        <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                    </div>
                                    <div class="act display-flex justify-content-center flex-direction-column">
                                        <a href="">
                                            <img src="./css/images/urbox/ico_gift_1.svg"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="hr4">
                                    <span>
                                        <label>Nhấp vào mã bên dưới để sao chép</label>
                                    </span>
                                </div>
                                <div class="actxx display-flex justify-content-center align-content-center">
                                    <a href="" class="display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/copy.svg"/>
                                        <span>
                                            UB20386023
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="box_list_voucher">
                                <div class="item_vc1 display-flex mb-5">
                                    <div class="thumb display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                    </div>
                                    <div class="hr5">
                                        <span></span>
                                    </div>
                                    <div class="info display-flex flex-direction-column justify-content-center">
                                        <a href="">
                                            <h3>The Coffee House</h3>
                                        </a>
                                        <strong>50.000đ</strong>
                                    </div>
                                    <div class="act display-flex justify-content-center flex-direction-column">
                                        <a href="">
                                            <img src="./css/images/urbox/ico_gift_1.svg"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="hr4">
                                    <span>
                                        <label>Nhấp vào mã bên dưới để sao chép</label>
                                    </span>
                                </div>
                                <div class="actxx display-flex justify-content-center align-content-center">
                                    <a href="" class="display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/payment-method.svg"/>
                                        <span>
                                            Nạp ngay
                                        </span>
                                    </a>
                                    <a href="" class="display-flex justify-content-center align-content-center">
                                        <img src="./css/images/urbox/copy.svg"/>
                                        <span>
                                            UB20386023
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-container swiper-init-s-2 demo-swiper demo-swiper-auto">
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-sk">
                                    <div class="swiper-pagination"></div>
                                    <div class="swiper-pagination-page">
                                        <label>1/5</label>
                                        <span>Voucher</span>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher new_buy">
                                            <div class="item_vc1 display-flex mb-5">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr5">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hr4">
                                                <span>
                                                    <label>Nhấp vào sử dụng ngay để hiển thị mã</label>
                                                </span>
                                            </div>
                                            <div class="actxx display-flex justify-content-center align-content-center">
                                                <a href="" class="display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/witness.svg"/>
                                                    <span>
                                                        Sử dụng ngay
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher">
                                            <div class="item_vc1 display-flex mb-5">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr5">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hr4">
                                                <span>
                                                    <label>Nhấp vào sử dụng ngay để hiển thị mã</label>
                                                </span>
                                            </div>
                                            <div class="actxx display-flex justify-content-center align-content-center">
                                                <a href="" class="display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/witness.svg"/>
                                                    <span>
                                                        Sử dụng ngay
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher">
                                            <div class="item_vc1 display-flex mb-5">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr5">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hr4">
                                                <span>
                                                    <label>Nhấp vào sử dụng ngay để hiển thị mã</label>
                                                </span>
                                            </div>
                                            <div class="actxx display-flex justify-content-center align-content-center">
                                                <a href="" class="display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/witness.svg"/>
                                                    <span>
                                                        Sử dụng ngay
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher">
                                            <div class="item_vc1 display-flex mb-5">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr5">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hr4">
                                                <span>
                                                    <label>Nhấp vào sử dụng ngay để hiển thị mã</label>
                                                </span>
                                            </div>
                                            <div class="actxx display-flex justify-content-center align-content-center">
                                                <a href="" class="display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/witness.svg"/>
                                                    <span>
                                                        Sử dụng ngay
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="box_list_voucher">
                                            <div class="item_vc1 display-flex mb-5">
                                                <div class="thumb display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                                </div>
                                                <div class="hr5">
                                                    <span></span>
                                                </div>
                                                <div class="info display-flex flex-direction-column justify-content-center">
                                                    <a href="">
                                                        <h3>The Coffee House</h3>
                                                    </a>
                                                    <strong>50.000đ</strong>
                                                    <span>Hạn sử dụng: <b>Hôm nay</b></span>
                                                </div>
                                                <div class="act display-flex justify-content-center flex-direction-column">
                                                    <a href="">
                                                        <img src="./css/images/urbox/ico_gift_1.svg"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hr4">
                                                <span>
                                                    <label>Nhấp vào sử dụng ngay để hiển thị mã</label>
                                                </span>
                                            </div>
                                            <div class="actxx display-flex justify-content-center align-content-center">
                                                <a href="" class="display-flex justify-content-center align-content-center">
                                                    <img src="./css/images/urbox/witness.svg"/>
                                                    <span>
                                                        Sử dụng ngay
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab" id="tab-2">
                        2
                    </div>
                    <div class="tab" id="tab-3">
                        3
                    </div>
                    <div class="tab" id="tab-4">
                        4
                    </div>
                </div>
            </div>
        </section>
        <section class="fft text-center">
            <div class="ft">
                <p>Quý khách cần hỗ trợ? Liên hệ hotline:</p>
                <div class="call text-center">
                    <a href="#">
                        <strong>0899 189 199</strong>
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>