<div class="page" data-name="home">
    <header class="hsearch">
        <div class="navbar-top container display-flex">
            <div class="lgxx">
                <a href="#">
                    <img src="./css/images/urbox/logo.svg"/>
                </a>
            </div>
            <div class="vvvv">
                <form method="post" class="search">
                    <input type="text" placeholder="Tìm thương hiệu"/>
                </form>

            </div>
            <div class="bt">
                <div class="btl float-left">
                    <span>Giá trị:</span>
                    <strong>3.000.000đ</strong>
                </div>
                <a href="" class="btn btn_qua float-right">Quà của tôi</a>
                <div class="clear"></div>
            </div>
            <div class="region display-flex justify-content-center">
                <a href="#VN" class="active">VN</a>
                <a href="#EN">EN</a>
            </div>
        </div>
    </header>
    <main>
        <section class="vd_sec">
            <div class="auto_x">
                <div class="swiper-container swiper-init-s-1 demo-swiper demo-swiper-auto">
                    <div class="swiper-sk">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination-page">
                            <label>1/2</label>
                        </div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="egift_box">
                                <div class="container m-auto">
                                    <div class="box_list_voucher">
                                        <div class="gift_item">
                                            <div class="thmb">
                                                <img src="./css/images/urbox/pnj.png"/>
                                            </div>
                                            <a href="#">eGift - Tiền mặt Smoothie Factory</a>
                                            <strong>500.000 đ</strong>
                                        </div>
                                        <div class="hr1 hr1fix mb-10"><span></span></div>
                                        <div class="qr_box">
                                            <a href="#" class="lgl">
                                                <img src="./css/images/urbox/logo.svg"/>
                                            </a>
                                            <div class="imgqr">
                                                <img src="./css/images/urbox/QR@2x.png"/>
                                            </div>
                                            <div class="info">
                                                <b>UB20386023</b>
                                                <ul>
                                                    <li>
                                                        <label>Ngày sản xuất:</label><span>21/02/2019</span>
                                                    </li>
                                                    <li>
                                                        <label>Hạn sử dụng:</label><span>20/12/2019</span>
                                                    </li>
                                                    <li>
                                                        <label>Hotline:</label><strong>0899 189 199</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="hr2"><span></span></div>
                                            <div class="act">
                                                <a href="" class="btn btn-gift">
                                                    Tặng quà
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="egift_box">
                                <div class="container m-auto">
                                    <div class="box_list_voucher">
                                        <div class="gift_item">
                                            <div class="thmb">
                                                <img src="./css/images/urbox/pnj.png"/>
                                            </div>
                                            <a href="#">eGift - Tiền mặt Smoothie Factory</a>
                                            <strong>500.000 đ</strong>
                                        </div>
                                        <div class="hr1 hr1fix mb-10"><span></span></div>
                                        <div class="qr_box">
                                            <a href="#" class="lgl">
                                                <img src="./css/images/urbox/logo.svg"/>
                                            </a>
                                            <div class="imgqr">
                                                <img src="./css/images/urbox/QR@2x.png"/>
                                            </div>
                                            <div class="info">
                                                <b>UB20386023</b>
                                                <ul>
                                                    <li>
                                                        <label>Ngày sản xuất:</label><span>21/02/2019</span>
                                                    </li>
                                                    <li>
                                                        <label>Hạn sử dụng:</label><span>20/12/2019</span>
                                                    </li>
                                                    <li>
                                                        <label>Hotline:</label><strong>0899 189 199</strong>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="hr2"><span></span></div>
                                            <div class="act">
                                                <a href="" class="btn btn-gift">
                                                    Tặng quà
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="store_box">
                    <div class="container m-auto">
                        <nav aria-label="breadcrumb" class="breadcrumb_ib">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" aria-current="page"><a href="#">Home </a></li>
                                <li class="breadcrumb-item active" aria-current="Voucher">> Voucher</li>
                            </ol>
                        </nav>
                        <div class="tab-link">Điều kiện áp dụng</div>
                        <div class="tab page-content">
                            <div class="tab_1_c">
                                - eGift được áp dụng tại hệ thống cửa hàng <strong>The Coffee House</strong>. Quý khách có thể xem thông tin cửa hàng áp dụng tại phần “Vị trí cửa hàng”. <br/>
                                - Vui lòng xuất trình đường link nhận quà có chứa mã eGift cho nhân viên tại quầy trước khi thanh toán để được áp dụng eGift. <br/>
                                - Có thẻ sử dụng nhiều mã eGift trên 1 hoá đơn; eGift sẽ không được hoàn lại tiền thừa và không có giá trị quy đổi thành tiền mặt. <br/>
                                - eGift có thể áp dụng đồng thời với các chương trình khuyến mãi khác tại cửa hàng. <br/>
                                - Hotline: 0899 189 199, nếu có sự cố Quý khách vui lòng liên hệ Hotline Urbox để được hỗ trợ.
                            </div>
                        </div>
                        <hr style="background: #8195A329"/>
                        <div class="tab-link">Địa chỉ cửa hàng</div>
                        <div class="tab_2_c">
                            <div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                                <div class="item_storex">
                                    <div class="stor">
                                        <a href="#">
                                            <img src="./css/images/urbox/ico_store.svg"/>
                                        </a>
                                    </div>
                                    <div class="info">
                                        <a href="#">
                                            456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="auto_x display-block">
                <div class="text-right footer_fe">
                    Quý khách cần hỗ trợ? Liên hệ hotline: <strong>0899 189 199</strong>
                </div>
            </div>
        </section>
    </main>
</div>