<div class="page" data-name="home">
    <div class="navbar">
        <div class="navbar-inner justify-content-center">
            <img src="./css/images/logo.png" class="h60" style="width: auto;" alt="">
        </div>
    </div>
    <div class="toolbar tabbar toolbar-bottom">
        <div class="toolbar-inner">
            <a href="#tab-1" class="tab-link tab-link-active display-flex flex-direction-column tab-wheel">
                <span class="f12 f-400">Chơi ngay</span>
            </a>
            <a href="#tab-2" class="tab-link tab-award">
                <span class="f12 f-400">Phần thưởng</span></a>
            <a href="#tab-3" class="tab-link tab-term">
                <span class="f12 f-400">Thể lệ</span>
            </a>
        </div>
    </div>
    <div class="tabs">
        <input type="hidden" id="show_dialog" value="1">
        <!-- First tab, active -->
        <div class="page-content page-bg tab tab-active" id="tab-1">
            <div class=" text-align-center mT20">
                <div class="the_wheel">
                    <canvas id='canvas' width="300" height="300">
                        Canvas not supported, use another browser.
                    </canvas>
                </div>
<!--                {if $show_dialog == 0}-->
                    <a href="javascript:void(0)" onclick="startSpin();" class="btn btn-active w200 mT30">Bắt đầu quay</a>
                    <a href="javascript:void(0)" onclick="resetSpin()" class="display-block">Reset</a>
<!--                {/if}-->
            </div>
        </div>
        <!-- Second tab -->
        <div class="page-content tab" id="tab-2">

            <div class="block">
                <div class="f20 f-500">Phần thưởng</div>
                <p class="f15">Vòng quay có 6 ô. Người chơi quay vào ô nào sẽ nhận được phần thưởng của ô đó. Bao gồm các phần thưởng như sau:</p>
                <div data-slides-per-view="auto" data-centered-slides="false"  class="swiper-container swiper-init mT15 mB20 mL0" data-space-between="15">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide w250">
                            <div class="voucher-img" style="background-image: url('./css/images/image.png')"></div>
                            <div class="voucher-content pT10">
                                <div class="color-gray f11">MBBank</div>
                                <div class="f12 f-400">Giftset trị giá 50.000 VNĐ</div>
                                <div class="f12 f-500 color-app">50.000 UP</div>
                            </div>
                        </div>
                        <div class="swiper-slide w250">
                            <div class="voucher-img" style="background-image: url('./css/images/image.png')"></div>
                            <div class="voucher-content pT10">
                                <div class="color-gray f11">MBBank</div>
                                <div class="f12 f-400">Giftset trị giá 50.000 VNĐ</div>
                                <div class="f12 f-500 color-app">50.000 UP</div>
                            </div>
                        </div>
                        <div class="swiper-slide w250">
                            <div class="voucher-img" style="background-image: url('./css/images/image.png')"></div>
                            <div class="voucher-content pT10">
                                <div class="color-gray f11">MBBank</div>
                                <div class="f12 f-400">Giftset trị giá 50.000 VNĐ</div>
                                <div class="f12 f-500 color-app">50.000 UP</div>
                            </div>
                        </div>
                        <div class="swiper-slide w250">
                            <div class="voucher-img" style="background-image: url('./css/images/image.png')"></div>
                            <div class="voucher-content pT10">
                                <div class="color-gray f11">MBBank</div>
                                <div class="f12 f-400">Giftset trị giá 50.000 VNĐ</div>
                                <div class="f12 f-500 color-app">50.000 UP</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Third tab -->
        <div class="page-content tab" id="tab-3">

            <div class="block">
                <img src="./css/images/voucher.png" class="w100p" alt="">
                <p>
                    CÁCH THỨC THAM GIA - NHẬN LƯỢT QUAY
                </p>
                <p>
                    Mua điện thoại Nokia tại hệ thống cửa hàng Hoàng Hà Mobile trên toàn quốc bạn sẽ nhận được cơ hội tham gia vòng quay may mắn.
                </p>
                <p>
                    Bước 1: Like trang fanpage Hoàng Hà Mobile tại đây: https://www.facebook.com/hoanghamobilecom/
                </p>
                <p>
                    Bước 2: Mua điện thoại Nokia tại hệ thống cửa hàng Hoàng Hà Mobile trên toàn quốc.
                </p>
                <p>
                    Bước 3: Thực hiện check in tại cửa hàng và post hình vào phần comment của chương trình.
                </p>
                <p>
                    Bước 4: Tag tên 3 người bạn vào phần comment để cùng tham gia.
                </p>
            </div>

        </div>
<!--        {if $show_dialog == 0}-->
            <div class="dialog" id="welcome_dialog">
                <div class="dialog-inner">
                    <h3 class="text-align-center f22">Chúc mừng!</h3>
                    <span class="display-block text-align-center f15">
                        <span class="mB30">Bạn đã trúng phần quà Giftset 100.000 đ và 01 lượt quay số nhận quà giá trị từ Unilever</span>
                        <span class="mT10 display-block">Quý khách còn 5 lượt nhận quà</span>
                    </span>
                    <div class="mT30 mB10">
                        <a href="javascript:void(0)" onclick="_.app.dialog.close()" class="btn-sm btn-active w100p f15">Xác nhận</a>
                    </div>
                </div>
            </div>
<!--        {/if}-->
    </div>

</div>