<div class="page" data-name="register">
    <div class="navbar">
        <div class="navbar-inner justify-content-center">
            <img src="./css/images/logo.png" class="h60" style="width: auto;" alt="">
        </div>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="text-align-center pT20 pB10"><img src="./css/images/bg-card.png" alt=""></div>
            <div class=" text-align-center mB50 pB30 over-hidden">
               <div class="f18 lh20">
                   Chương trình quay số trúng thưởng từ Unilever dành cho khách hàng thân thiết
               </div>
            </div>
            <div class="form-group">
                <label for="input-code" class="f15 color-gray">Nhập mã cào trúng thưởng trên phiếu quà tặng</label>
                <input type="text" id="input-code">
            </div>
            <div class="form-group mT10">
                <label for="input-phone" class="f15 color-gray">Nhập số điện thoại của quý khách</label>
                <input type="text" id="input-phone">
            </div>
            <div id="message-error" class="hidden color-red f12 mT5">Số điện thoại hoặc mã cào không hợp lệ</div>
            <div class="mB30"></div>
            <a href="javascript:void(0)" class="btn btn-active w100p" onclick="_.click.register()">Xác nhận</a>
            <div class="italic f14 mT10">Quý khách cần hỗ trợ? Liên hệ hotline <a href="tel:+84899189199" class="external color-green">0899 189 199</a></div>
        </div>
    </div>
</div>