<div class="page history-1" data-name="home">
    <header class="">
        <div class="navbar-top container display-flex">
            <div class="backpage">
                <a href="#"></a>
                <div>Lịch sử</div>
            </div>
        </div>
    </header>
    <main>
        <div class="mb-15"></div>
        <section class="sect_day_box">
            <div class="container m-auto">
                <div class="sect_day">
                    <div class="display-flex justify-content-center"><img src="./css/images/urbox/ico_calendar.svg" /><strong>17/02/2020</strong></div>
                    <ul>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                    </ul>
                </div>
                <div class="sect_day">
                    <div class="display-flex justify-content-center"><img src="./css/images/urbox/ico_calendar.svg" /><strong>16/02/2020</strong></div>
                    <ul>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                    </ul>
                </div>
                <div class="sect_day">
                    <div class="display-flex justify-content-center"><img src="./css/images/urbox/ico_calendar.svg" /><strong>14/02/2020</strong></div>
                    <ul>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                    </ul>
                </div>
                <div class="sect_day mb-15">
                    <div class="display-flex justify-content-center"><img src="./css/images/urbox/ico_calendar.svg" /><strong>13/02/2020</strong></div>
                    <ul>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                        <li>
                            <span>Thẻ mobifone 50.000đ x1</span>
                            <strong>- 50.000đ</strong>
                        </li>
                    </ul>
                </div>

            </div>
        </section>
    </main>
</div>