<div class="page" data-name="home">
    <header class="hsearch">
        <div class="navbar-top container display-flex">
            <form method="post" class="search">
                <input type="text" placeholder="Tìm thương hiệu"/>
            </form>
            <div class="region display-flex justify-content-center">
                <a href="#VN" class="active">VN</a>
                <a href="#EN">EN</a>
            </div>
        </div>
    </header>
    <main>
        <section class="cardX_box">
            <div class="cardY">
                <div class="btl float-left">
                    <span>Giá trị:</span>
                    <strong>3.000.000đ</strong>
                </div>
                <a href="" class="btn btn_qua float-right">Quà của tôi</a>
                <div class="clear"></div>
            </div>
        </section>
        <section class="downapp1_box">
            <h3>Tải và dùng ứng dụng UrBox để có trải nghiệm tốt hơn</h3>
            <div>
                <a href="#" class="ios popup-open" data-popup=".popup-ios">
                    <img src="./css/images/urbox/app-store-badge.svg"/>
                </a>
                <div class="popup popup-ios popup_install_app">
                    <div class="popup_content">
                        <img src="./css/images/urbox/image.svg"/>
                        <strong>Tải ngay ứng dụng UrBox trên điện thoại</strong>
                        <p>
                            Cài đặt <a href="#">UrBox</a> để có thể trải nghiệm tính năng tự động tổng hợp số dư các thẻ quà tặng, thuận lợi hơn trong việc đổi quà.
                        </p>
                        <a class="link popup-close btn-xxxc" href="#">CÀI ĐẶT</a>
                        <a class="link popup-close btn-xxxc1 close" href="#">Thoát</a>
                        <div class="bt">
                            <input type="radio" id="remember"/>
                            <label for="remember">Không hiển thị lại lần sau</label>
                        </div>
                    </div>
                </div>
                <a href="#" class="gg">
                    <img src="./css/images/urbox/google-play-badge.svg"/>
                </a>
            </div>
        </section>
        <section class="listbrand_box">
            <div class="container m-auto">
                <div class="tabx">
                    <div class="tab_h">
                        <div>
                            <a href="#tab-1" class="tab-link tab-link-active" data-route-tab-id="tab-1">Nổi bật</a>
                            <a href="#tab-2" class="tab-link" data-route-tab-id="tab-2">Ăn uống</a>
                            <a href="#tab-3" class="tab-link" data-route-tab-id="tab-3">Du lịch</a>
                            <a href="#tab-4" class="tab-link" data-route-tab-id="tab-4">Mua sắm</a>
                            <a href="#tab-5" class="tab-link" data-route-tab-id="tab-5">Something</a>
                        </div>
                    </div>
                    <div class="tabs tabs_c">
                        <div class="tab page-content tab-active" id="tab-1">
                            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="1" class="swiper-container swiper-containerxxx swiper-init demo-swiper">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/VinID@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    VinID
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/layer1.svg"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Grab
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_7 eleven@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    7 Eleven
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_agoda@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Agoda
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_be@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Be
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_circle K@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Circle K
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_cong@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Cộng coffee
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_Cowboy Jacks@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Cowboy Jack’s Amerian Dining
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_Daruma@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Daruma
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_dien may xanh@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Điện máy xanh
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    FPT
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_isushi@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    isushi
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">Slide 1</div>
                                    <div class="swiper-slide">Slide 1</div>
                                    <div class="swiper-slide">Slide 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab page-content" id="tab-2">2</div>
                        <div class="tab page-content" id="tab-3">3</div>
                        <div class="tab page-content" id="tab-4">4</div>
                        <div class="tab page-content" id="tab-5">5</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-center">
        <section class="downapp2_box">
            <div class="down">
                <h3>Tải ứng dụng ngay tại:</h3>
                <div>
                    <a href="#" class="gg">
                        <img src="./css/images/urbox/google-play-badge.svg"/>
                    </a>
                    <a href="#" class="ios">
                        <img src="./css/images/urbox/app-store-badge.svg"/>
                    </a>
                </div>
            </div>
            <p>Quý khách cần hỗ trợ? Liên hệ hotline:</p>
            <div class="call text-center">
                <a href="#">
                    <strong>0899 189 199</strong>
                </a>
            </div>
        </section>
    </footer>
</div>