<div class="page" data-name="home">
    <header class="hsearch">
        <div class="navbar-top container display-flex">
            <div class="backpage">
                <a href="#"></a>
                <div>Voucher</div>
            </div>
        </div>
    </header>
    <main>
        <section class="egift_box">
            <div class="container m-auto">
                <div class="box_list_voucher mb-15">
                    <div class="gift_item">
                        <div class="thmb">
                            <img src="./css/images/urbox/pnj.png"/>
                        </div>
                        <a href="#">eGift - Tiền mặt Smoothie Factory</a>
                        <strong>500.000 đ</strong>
                    </div>
                    <div class="hr1 hr1fix mb-10"><span></span></div>
                    <div class="qr_box">
                        <a href="#" class="lgl">
                            <img src="./css/images/urbox/logo.svg"/>
                        </a>
                        <div class="imgqr">
                            <img src="./css/images/urbox/QR@2x.png"/>
                        </div>
                        <div class="info">
                            <b>UB20386023</b>
                            <ul>
                                <li>
                                    <label>Ngày sản xuất:</label><span>21/02/2019</span>
                                </li>
                                <li>
                                    <label>Hạn sử dụng:</label><span>20/12/2019</span>
                                </li>
                                <li>
                                    <label>Hotline:</label><strong>0899 189 199</strong>
                                </li>
                            </ul>
                        </div>
                        <div class="hr2"><span></span></div>
                        <div class="act">
                            <a href="" class="btn btn-gift">
                                Tặng quà
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="store_box">
            <div class="container m-auto">
                <div class="tab_h">
                    <div>
                        <a href="#tab-1" class="tab-link" data-route-tab-id="tab-1">Điều kiện áp dụng</a>
                        <a href="#tab-2" class="tab-link tab-link-active" data-route-tab-id="tab-2">Địa chỉ cửa hàng</a>
                    </div>
                </div>
                <div class="tabs tabs_c">
                    <div class="tab page-content" id="tab-1">
                        <div class="tab_1_c">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                            </p>
                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </div>
                    </div>
                    <div class="tab page-content tab-active" id="tab-2">
                        <div class="tab_2_c">
                            <div class="item_storex">
                                <div class="stor">
                                    <a href="#">
                                        <img src="./css/images/urbox/ico_store.svg"/>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                    </a>
                                </div>
                            </div>
                            <div class="item_storex">
                                <div class="stor">
                                    <a href="#">
                                        <img src="./css/images/urbox/ico_store.svg"/>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                    </a>
                                </div>
                            </div>
                            <div class="item_storex">
                                <div class="stor">
                                    <a href="#">
                                        <img src="./css/images/urbox/ico_store.svg"/>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                    </a>
                                </div>
                            </div>
                            <div class="item_storex">
                                <div class="stor">
                                    <a href="#">
                                        <img src="./css/images/urbox/ico_store.svg"/>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                    </a>
                                </div>
                            </div>
                            <div class="item_storex">
                                <div class="stor">
                                    <a href="#">
                                        <img src="./css/images/urbox/ico_store.svg"/>
                                    </a>
                                </div>
                                <div class="info">
                                    <a href="#">
                                        456 Nguyễn Oanh, phường Đa Kao, quận 1, Hồ Chí Minh.
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>