<div class="page" data-name="home">
    <header class="hsearch">
        <div class="navbar-top container display-flex">
            <form method="post" class="search">
                <input type="text" placeholder="Tìm thương hiệu"/>
            </form>
            <div class="region display-flex justify-content-center">
                <a href="#VN" class="active">VN</a>
                <a href="#EN">EN</a>
            </div>
        </div>
    </header>
    <main>
        <section class="cardnumber_box">
            <div class="container m-auto">
                <div class="lg text-center">
                    <a href="#">
                        <img src="./css/images/urbox/logo.svg"/>
                    </a>
                </div>
                <div class="cardX">
                    <div class="bh">
                        <img class="lgg" src="./css/images/urbox/logo_Urbox_White.png"/>
                        <span>Gift Card</span>
                        <label>8888 8888 8888 8888</label>
                    </div>
                    <div class="bt">
                        <div class="btl float-left">
                            <span>Giá trị:</span>
                            <strong>3.000.000đ</strong>
                        </div>
                        <a href="" class="btn btn_qua float-right">Quà của tôi</a>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="downapp1_box">
            <h3>Tải và dùng ứng dụng UrBox để có trải nghiệm tốt hơn</h3>
            <div>
                <a href="#" class="ios">
                    <img src="./css/images/urbox/app-store-badge.svg"/>
                </a>
                <a href="#" class="gg">
                    <img src="./css/images/urbox/google-play-badge.svg"/>
                </a>
            </div>
        </section>
        <section class="listbrand_box">
            <div class="container m-auto">
                <div class="tabx">
                    <div class="tab_h">
                        <div>
                            <a href="#tab-1" class="tab-link tab-link-active" data-route-tab-id="tab-1">Nổi bật</a>
                            <a href="#tab-2" class="tab-link" data-route-tab-id="tab-2">Ăn uống</a>
                            <a href="#tab-3" class="tab-link" data-route-tab-id="tab-3">Du lịch</a>
                            <a href="#tab-4" class="tab-link" data-route-tab-id="tab-4">Mua sắm</a>
                            <a href="#tab-5" class="tab-link" data-route-tab-id="tab-5">Something</a>
                        </div>
                    </div>
                    <div class="tabs tabs_c">
                        <div class="tab page-content tab-active" id="tab-1">
                            <div  class="swiper-container swiper-containerxxx pd-10">
                                <div class="swiper-slide">
                                    <div class="brand-1 popup-open" data-popup=".popup-ios-bt">
                                        <a href="#">
                                            <img src="./css/images/urbox/brand/VinID@2x.png"/>
                                        </a>
                                        <div>
                                            <a href="#">
                                                VinID
                                            </a>
                                        </div>
                                    </div>
                                    <div class="popup popup-ios-bt popup_confirm_voucher">
                                        <form method="post" id="xyz" onsubmit="validateForm1(this)">
                                        <div class="popup_content">
                                            <div class="box_list_voucher mb-15">
                                                <div class="item_voucher mb-10">
                                                    <a href="#">
                                                        <img src=""/>
                                                    </a>
                                                    <div class="info">
                                                        <a href="">
                                                            <h3>Voucher tiền mặt</h3>
                                                        </a>
                                                        <strong>1.000.000.000 đ</strong>
                                                        <span>The coffee house</span>
                                                    </div>
                                                </div>
                                                <div class="hr1 mb-10"><span></span></div>
                                                <div class="d_term">
                                                    <a href="#">Điều kiện sử dụng</a>
                                                    <div class="pmc">
                                                        <a href="" class="minus" onclick="pmc(this,'minus')"></a>
                                                        <input type="text" placeholder="00" value="01" class="form-control" readonly/>
                                                        <a href="" class="plus" onclick="pmc(this,'plus')"></a>
                                                    </div>
                                                </div>
                                                <div class="warningxx hidden">
                                                    <hr/>
                                                    <div class="display-flex">
                                                        <div class="flex-1"></div>
                                                        <div class="warningx1">Chỉ còn lại <strong>08</strong> voucher</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="warningy hidden mb-15">
                                                Số lượng vouchers không cho phép thanh toán
                                            </div>
                                            <div class="btn btn_confirm" onclick="return validateForm1(this)">
                                                <label>
                                                    Xác nhận
                                                </label>
                                                <span>1.000.000.000đ</span>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    <div class="brand-1 popup-open" data-popup=".popup-ios-bt">
                                        <a href="#">
                                            <img src="./css/images/urbox/brand/layer1.svg"/>
                                        </a>
                                        <div>
                                            <a href="#">
                                                Grab
                                            </a>
                                        </div>
                                    </div>
                                    <div class="brand-1 popup-open" data-popup=".popup-ios-bt">
                                        <a href="#">
                                            <img src="./css/images/urbox/brand/APP_LOGO_7 eleven@2x.png"/>
                                        </a>
                                        <div>
                                            <a href="#">
                                                7 Eleven
                                            </a>
                                        </div>
                                    </div>
                                    <div class="brand-1 popup-open" data-popup=".popup-ios-bt">
                                        <a href="#">
                                            <img src="./css/images/urbox/brand/APP_LOGO_agoda@2x.png"/>
                                        </a>
                                        <div>
                                            <a href="#">
                                                Agoda
                                            </a>
                                        </div>
                                    </div>
                                    <div class="brand-1 popup-open" data-popup=".popup-ios-bt">
                                        <a href="#">
                                            <img src="./css/images/urbox/brand/APP_LOGO_be@2x.png"/>
                                        </a>
                                        <div>
                                            <a href="#">
                                                Be
                                            </a>
                                        </div>
                                    </div>
                                    <div class="brand-1 popup-open" data-popup=".popup-ios-bt">
                                        <a href="#">
                                            <img src="./css/images/urbox/brand/APP_LOGO_circle K@2x.png"/>
                                        </a>
                                        <div>
                                            <a href="#">
                                                Circle K
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagging">
                                    <a href="#" class="btn btn-vall">
                                        Xem tất cả thương hiệu
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tab page-content" id="tab-2">2</div>
                        <div class="tab page-content" id="tab-3">3</div>
                        <div class="tab page-content" id="tab-4">4</div>
                        <div class="tab page-content" id="tab-5">5</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-center">
        <section class="downapp2_box">
            <div class="down">
                <h3>Tải ứng dụng ngay tại:</h3>
                <div>
                    <a href="#" class="gg">
                        <img src="./css/images/urbox/google-play-badge.svg"/>
                    </a>
                    <a href="#" class="ios">
                        <img src="./css/images/urbox/app-store-badge.svg"/>
                    </a>
                </div>
            </div>
            <p>Quý khách cần hỗ trợ? Liên hệ hotline:</p>
            <div class="call text-center">
                <a href="#">
                    <strong>0899 189 199</strong>
                </a>
            </div>
        </section>
    </footer>
    <div class="brand-1 popup-open hidden" id="popup_term_voucher" data-popup=".popup_term_voucher"></div>
    <div class="popup popup-ios popup_term_voucher">
        <div class="popup_content">
            <div class="pph">Điều kiện sử dụng</div>
            <div class="ppc">
                <h3>Thông tin chương trình</h3>
                <div class="xvv">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                <h3>Thể lệ quà tặng</h3>
                <div class="xvv">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                <h3>Thông tin chương trình</h3>
                <div class="xvv">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
                <h3>Thể lệ quà tặng</h3>
                <div class="xvv">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
            </div>
        </div>
        <a class="link popup-close btn-closexxxx" href="#"></a>
    </div>
</div>