<div class="page" data-name="home">
    <header>
        <div class="navbar-top container display-flex">
            <a href="#" class="navbar-brand">
                <img src="./css/images/urbox/logo.svg"/>
            </a>
            <div class="region display-flex justify-content-center">
                <a href="#VN" class="active">VN</a>
                <a href="#EN">EN</a>
            </div>
        </div>
    </header>
    <main>
        <section class="balancelogin_box">
            <div class="container m-auto">
                <h2>Chúc mừng!</h2>
                <div class="cap">
                    Bạn nhận được thẻ quà tặng trị giá <strong>500.000đ</strong><br/>
                    Sử dụng số dư để đổi voucher.
                </div>
                <form method="">
                    <div class="formx1">
                        <div class="cardX1">
                            <img src="./css/images/urbox/cardframe2x.png"/>
                            <div>
                                <label>Gift Card</label>
                                <strong>8888 8888 8888 8888</strong>
                            </div>
                        </div>
                        <div class="lb">
                            Nhập mã PIN được cấp để kích hoạt thẻ
                        </div>
                        <div class="form-control-1">
                            <label>Nhập mã PIN</label>
                            <input type="password" class="form-control" placeholder="" value="123456"/>
                        </div>
                        <input type="submit" class="btn btn-xn" value="Truy cập"/>
                        <div class="signout">
                            <label>Quý khách có thẻ khác?</label>
                            <a href="#">Đăng xuất</a>
                        </div>
                    </div>
                </form>
                <div class="ft">
                    <p>Quý khách cần hỗ trợ? Liên hệ hotline:</p>
                    <div class="call text-center">
                        <a href="#">
                            <strong>0899 189 199</strong>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-center">
        <div class="footer-copyright">

        </div>
    </footer>
</div>