<div class="page" data-name="home">
    <header>
        <div class="navbar-top container display-flex">
            <a href="#" class="navbar-brand">
                <img src="./css/images/urbox/logo.svg"/>
            </a>
            <div class="region display-flex justify-content-center">
                <a href="#VN" class="active">VN</a>
                <a href="#EN">EN</a>
            </div>
        </div>
    </header>
    <main>
        <section class="giftcard_box">
            <div class="container m-auto">
                <form method="post">
                    <div class="box">
                        <h4>Thẻ quà tặng UrBox</h4>
                        <div class="des">
                            Thẻ quà tặng UrBox là thẻ đổi quà sử dụng nhiều lần, quý khách có thể<br/> chọn quà để sử dụng tại các hệ thống cửa hàng<br/> và thương hiệu online liên kết với <strong>UrBox</strong>.
                        </div>
                        <div class="form-control-1">
                            <label>Nhập số thẻ gồm 16 chữ số</label>
                            <input type="text" class="form-control" placeholder="8888 8888 8888 8888"/>
                        </div>
                        <input type="submit" class="btn btn-xn" value="Xác nhận"/>
                        <p>Quý khách cần hỗ trợ? Liên hệ hotline:</p>
                        <div class="call text-center">
                            <a href="#">
                                <strong>0899 189 199</strong>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <section class="listbrand_box">
            <div class="container m-auto">
                <h2>Hệ thống thương hiệu đổi voucher</h2>
                <div class="tabx">
                    <div class="tab_h">
                        <div>
                            <a href="#tab-1" class="tab-link tab-link-active" data-route-tab-id="tab-1">Nổi bật</a>
                            <a href="#tab-2" class="tab-link" data-route-tab-id="tab-2">Ăn uống</a>
                            <a href="#tab-3" class="tab-link" data-route-tab-id="tab-3">Du lịch</a>
                            <a href="#tab-4" class="tab-link" data-route-tab-id="tab-4">Mua sắm</a>
                            <a href="#tab-5" class="tab-link" data-route-tab-id="tab-5">Something</a>
                            <a href="#tab-5" class="tab-link" data-route-tab-id="tab-5">Something</a>
                            <a href="#tab-5" class="tab-link" data-route-tab-id="tab-5">Something</a>
                            <a href="#tab-5" class="tab-link" data-route-tab-id="tab-5">Something</a>
                        </div>
                    </div>
                    <div class="tabs tabs_c">
                        <div class="tab page-content tab-active" id="tab-1">
                            <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="1" class="swiper-container swiper-containerxxx swiper-init demo-swiper">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/VinID@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    VinID
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/layer1.svg"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Grab
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_7 eleven@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    7 Eleven
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_agoda@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Agoda
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_be@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Be
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_circle K@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Circle K
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_cong@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Cộng coffee
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_Cowboy Jacks@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Cowboy Jack’s Amerian Dining
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_Daruma@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Daruma
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_dien may xanh@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    Điện máy xanh
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_fpt@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    FPT
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-1">
                                            <a href="#">
                                                <img src="./css/images/urbox/brand/APP_LOGO_isushi@2x.png"/>
                                            </a>
                                            <div>
                                                <a href="#">
                                                    isushi
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">Slide 1</div>
                                    <div class="swiper-slide">Slide 1</div>
                                    <div class="swiper-slide">Slide 1</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab page-content" id="tab-2">2</div>
                        <div class="tab page-content" id="tab-3">3</div>
                        <div class="tab page-content" id="tab-4">4</div>
                        <div class="tab page-content" id="tab-5">5</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="text-center">
        <div class="footer-copyright">

        </div>
    </footer>
</div>