@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=vietnamese');
:root {
  --app-bg-color: #0560A7;
  --app-border-color: #0560A7;
  --app-color: #0560A7;
  --text-color: #000;
  --red-color: #FD2020;
  --blue-color: #1787FB;
  --white-color: #fff;
  --gray-color: #828282;
  --blue-white-color: #F3F5F9;
  --expired-color: #4a4a4a;
  --border-gift: #DADADA;
  --f7-dialog-text-color: #313131;
  --f7-navbar-height: 70px;
  --f7-dialog-width: 90%;
  --f7-toolbar-bottom-shadow-image: transparent;
  --f7-toolbar-height: 60px;
}
.navbar a,
a{color: var(--text-color);}
a:hover,a:focus,a:active{text-decoration: none}
body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
    margin: 0 auto;
    max-width: 768px;
}
img{font-size: 0;}
.f-300{
  font-weight: 300 !important;
}
.f-400{
  font-weight: 400 !important;
}
.f-500{
  font-weight: 500 !important;
}
.f-600{
  font-weight: 600 !important;
}
.f-700{
  font-weight: 700 !important;
}


.toolbar~* .page-content, .toolbar~.page-content{padding-bottom: 95px}
.navbar~.page-content, .navbar~:not(.no-navbar) .page-content{padding-top: var(--f7-navbar-height);}
.toolbar:before{display: none !important;}
.container{padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.toolbar{
  background: #fff;
  box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.25);}
.toolbar-inner{padding: 0 20px;}
.navbar.navbar-hidden~.page-content, .navbar.navbar-hidden~:not(.no-navbar) .page-content{padding-top: 0 !important;}
.navbar-hidden {
  -webkit-transform: translate3d(0,-110%,0);
  transform: translate3d(0,-110%,0);
}
.navbar{
  background-color: #fff;
  height: var(--f7-navbar-height);
  border-bottom: transparent;
}
.navbar:before{
  /*background: transparent;*/
}
.navbar-inner{
  padding: 0 20px;
  align-items: center !important;
}
/*.navbar:after{
  background-color: transparent;
  box-shadow: 0px 1px 1px rgba(188, 188, 188, 0.25);
}*/
.navbar .left, .navbar .right{
}
.page{
  background-color: #FFF;
  padding-top: 0;
}
.navbar .right {
  margin-left: 10px;
  margin-right: 15px;
}
.app-logo{
  height: 35px;
  width: calc(100% - 200px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ur-logo{
  padding-top: 5px;
  margin: 0 auto;
}
.ur-logo img{
  height: 30px;
}
.navbar .left{
  margin-right: 0;
  font-size: 15px;
  height: 30px;
  position: relative;
  
}
.color-app{
  color: var(--app-color);
}
.color-313131{
  color: #313131;
}
.color-white{
  color: var(--white-color) !important;;
}
.color-red{
  color: var(--red-color);
}
.color-blue{
  color: var(--blue-color)
}
.color-gray{
  color: var(--gray-color) !important;
}
.color-green{
  color: #007aff
}

.page-bg{
  background: url("./images/bg-page.png") center top;
    background-size: cover;
}
.flex-direction-column{
  flex-direction: column;
}
.toolbar-inner .tab-link img{
  font-size: 0;
}
input.form-control{
  border: 1px solid #BDBDBD;
  font-size: 14px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 5px 10px;
}
input.form-control.input-error{
  border: 1px solid #FD2020;
}
.btn
{
  box-sizing: border-box;
  height: 50px;
  line-height: 48px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--text-color);
  color: var(--text-color);
}
.btn-sm{
  box-sizing: border-box;
  height: 42px;
  line-height: 40px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border: 2px solid var(--text-color);
  color: var(--text-color);
}
.btn-active{
  background: var(--app-bg-color) !important;
  color: var(--white-color) !important;
  border: 0;
  font-weight: 500;
}
.btn-active-white{
  background: var(--white-color) !important;
  color: var(--app-color) !important;
  border: 1px solid var(--app-color);
}

/* Sets the background image for the wheel */
.the_wheel
{
  margin: 0 auto;
  width: 320px;
  height: 350px;
  position: relative;
  background-image: url(./images/bg_wheel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  box-sizing: border-box;
}
.the_wheel:before{
  position: absolute;
  z-index: 9999;
  margin: 0 auto;
  left: calc(50% - 30px);
transform: translate3d(0,0,0);
  top: 18px;
  content: "";
  display: block;
  width: 59px;
  height: 52px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(./images/bg_wheel-before.png);
}
.the_wheel canvas{
  position: absolute;
  left: 10px;
  top: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.voucher-img{
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.voucher-img:before{
  content: '';
  padding-top: 100%;
  display: block;
}
.toolbar-inner .tab-link span{
  text-transform: initial;
}
.tab-link-highlight{
  display: none;
}
.tab-link{
  padding-top: 38px;
}
.tab-wheel{
  background: url("./images/icon-game.svg") top center no-repeat;
}
.tab-wheel.tab-link-active{
  background-image: url("./images/icon-game-active.svg");
}
.tab-award{
  background: url("./images/icon-award.svg") top center no-repeat;
}
.tab-award.tab-link-active{
  background-image: url("./images/icon-award-active.svg");
}
.tab-term{
  background: url("./images/icon-term.svg") top center no-repeat;
}
.tab-term.tab-link-active{
  background-image: url("./images/icon-term-active.svg");
}
.over-hidden{
  overflow:hidden;
}
.form-group input[type='text']{
  height: 36px;
  width: 100%;
  border-bottom: 2px solid #BCBCBC;
}
input.input-error{
    color: var(--red-color);
  border-bottom: 2px solid #f00 !important;
  
}
.promo-logo {
  width: 36px;
  height: 36px;
  padding: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.card-logo {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  padding: 6px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}
.m-auto{
  margin: auto;
}
header,main,footer{color: #474747;}
.page{background: #F0F3F5;overflow: auto}
header > .container{
  margin: 0 auto;display: flex;justify-content: center;align-items: center;padding: 10px;position: relative;
}
header .navbar-brand img{height: 40px;display: block}
header .region{position: absolute;right: 10px;top: 0;bottom: 0;height: 18px;margin: auto;background: #F0F3F5;
  border: 1px solid #E6ECF0;
  border-radius: 24px;padding: 3px;}
header .region a{
  border-radius: 24px;
  font-size:13px;
  padding:1px 7px;
  color: #969EB2;
}
header .region a.active{
  background: #FFF;
  box-shadow: 0 3px 6px #163C8429;
  color: #720D5D;
}
header{background: #fff;position: relative}
header .backpage{display: flex;width: 100%;padding: 4px 0}
header .backpage>a{display: block;width: 24px;height: 24px;background: url(images/urbox/ico_back.svg) no-repeat center center;}
header .backpage>div{flex: 1;padding: 0 24px 0 0;text-align: center;font-size: 17px;color: #000;font-weight: 500}
header .backpage>span{position: absolute;right: 10px}
header .backpage>span a{color: #1074FF;font-size: 14px;}
.giftcard_box{background: url(images/urbox/background.svg) no-repeat;background-size: 100%;background-position: center -136px;padding: 150px 0 25px}
.giftcard_box .box{background: #fff;border-radius: 12px;box-shadow: 0 3px 6px #163C8429;padding: 15px;text-align: center}
.giftcard_box .box h4{color: #720D5D;font-size: 22px;margin: 5px 0}
.giftcard_box .box .des{color: #474747;line-height: 22px;margin: 0 0 20px;}
.giftcard_box .box .form-control-1{margin: 0 0 20px;}
.form-control-1{border-radius: 12px;border:1px solid #E6ECF0;background: #fff;height:60px;position: relative;}
.form-control-1 label{position: absolute;background: #fff;left: 15px;top: -10px;color: #969EB2;font-size: 14px;padding: 0 7px;}
.form-control-1 .form-control{width: 100%;height: 100%;border: 0;box-shadow: none;font-size: 24px;padding: 5px 15px;}
.form-control-1 .form-control::placeholder{color: #E0E0E0;}
.form-control-1 .form-control[type=password]{font-size: 50px;color: #000}
.btn-xn{height: 48px;width: 100%;background: #720D5D;border-radius: 28px;color: #fff;font-size: 16px;text-align: center;border:0}
.giftcard_box .box .btn-xn{margin: 0 0 20px;}
.giftcard_box .box p{margin: 0 0 5px;}
.giftcard_box .box .call{font-size: 20px;}

.listbrand_box h2{font-size:20px;color:#000;font-weight:700;text-align: center;margin: 0 0 10px;}
.listbrand_box .tabx{}
.listbrand_box .tabx .tab_h{overflow: auto;padding: 0 0 1px;}
.listbrand_box .tabx .tab_h div{width: 10000em;border-bottom: 1px solid #E6ECF0;height: 25px;}
.listbrand_box .tabx .tab_h a{color: #969EB2;margin:0 34px 0 0;border-bottom: 3px solid transparent;position: relative;padding: 0;line-height: 27px;font-size: 15px;}
.listbrand_box .tabx .tab_h a.tab-link-active{color: #720D5D;font-weight: 500;}
.listbrand_box .tabx .tab_h a.tab-link-active:after{content:'';background:#720D5D;width: 60%;bottom:0;height: 3px;margin: auto;position: absolute;border-radius: 1px;}
.listbrand_box .tabx .tab_h a:last-child{margin: 0}

.listbrand_box .tabx .tabs_c{
  padding: 0 0 20px;
}
.swiper-container.swiper-containerxxx{
  margin: 0 -5px;
  padding: 15px 0 40px;
}
img{display: block;margin: auto}
.listbrand_box .tabx .tabs_c .page-content{
  overflow: initial;
}
.swiper-container.swiper-containerxxx .swiper-slide .brand-1{width: calc(100%/3);float:left;margin:0 0 5px;position: relative;padding: 0 0 10px;height: calc(100vw / 3.3);}
.swiper-container.swiper-containerxxx .swiper-slide .brand-1:nth-child(3n+1){margin:0 0 5px}
.brand-1{position: relative;text-align: center;background: url(images/urbox/Frame.svg) no-repeat center bottom -5px;background-size: calc(100% + 20px) auto;border-radius: 10px;}
.brand-1>a:nth-child(1){width: calc(100vw / 5.7);height:calc(100vw / 5.7);border-radius: 50%;overflow: hidden;border:3px solid #fff;box-shadow: 0 3px 10px #163C841A;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;background:#fff;}
.brand-1>a:nth-child(1) img{width: 100%;display: block;max-width: 100%}
.brand-1>div{margin: 5px 10px}
.brand-1>div a{font-size: 12px;line-height: 16px;height: 32px;display: inline-block}
.swiper-container.swiper-containerxxx .swiper-pagination-bullet{opacity: 1;background:#720D5D;width: 8px;height: 8px;}
.swiper-container.swiper-containerxxx .swiper-pagination-bullet:nth-child(2){background:#D3008D}
.swiper-container.swiper-containerxxx .swiper-pagination-bullet:nth-child(3){background:#37B34A}
.swiper-container.swiper-containerxxx .swiper-pagination-bullet:nth-child(4){background:#F7BE00}
.swiper-container.swiper-containerxxx .swiper-pagination-bullet.swiper-pagination-bullet-active{width: 16px;height: 16px;position: relative;top: 3px}

header.hsearch{box-shadow: 0 3px 6px #163C8429;}
header.hsearch > .container{padding:14px 10px;justify-content: flex-start}
header.hsearch .search{
    height: 32px;background: #F0F3F5;border: 1px solid #E6ECF0;border-radius: 16px;
}
header.hsearch .search input{
    height: 100%;width: 100%;padding: 0 5px 0 30px;background: url(images/urbox/ico_Search.svg) no-repeat 10px center;background-size:  16px 16px;font-size: 14px;
}
header.hsearch .search input::placeholder{color: #969EB2}

.cardnumber_box{position: relative;margin: 0 0 40px;}
.cardnumber_box:before{content:'';position: absolute;left: 0;right: 0;height: 60%;background: #fff;z-index: -1}
.cardnumber_box .lg{display: block;padding: 18px 0 16px;}
.cardnumber_box .lg img{max-height: 40px;}
.cardX{margin:0 10px 40px;border-radius: 12px;box-shadow: 0 3px 16px #163C8433;background: #fff;position: relative;overflow: hidden}
.cardX .bh{padding: 12px 10px 8px 24px;background: url(images/urbox/Mask_Group_37.png) no-repeat right center #831e45;background-size:auto 100%;}
.cardX .bh>.lgg{max-height:24px;margin: 0 0 15px;}
.cardX .bh>span{color: #FFF;text-transform: uppercase;font-size:20px;line-height: 24px;font-weight: 300;display: block;}
.cardX .bh>label{color: #FFF;font-size:24px;font-weight:700;display: block}
.cardX .bt{padding:11px 16px}
.cardX .bt .btl span{color: #000;display: block;font-size:14px;line-height:16px}
.cardX .bt .btl strong{color: #720D5D;font-size:20px;line-height:24px}
.cardX .bt .btn_qua{margin: 2px 0 0}
.cardX_box{margin: 0 0 40px;}
.cardX_box .cardY{position:relative;margin: 1px 0 0;}
.cardY{padding:8px 10px;background: #fff;box-shadow: 0 3px 6px #163C8429;}
.cardY .btl span{color: #000;display: block;font-size:14px;line-height:16px}
.cardY .btl strong{color: #720D5D;font-size:20px;line-height:24px}
.cardY .btn_qua{margin: 2px 0 0}
.btn_qua{background: #720D5D;border-radius: 18px;height: 36px;padding: 0 19px;line-height:36px;border:0;color:#fff}
.downapp1_box{background: url(images/urbox/MaskGroup32.png) repeat center center;padding:10px 15px;margin: 0 0 30px}
.downapp1_box h3{color: #FFF;text-align: center;font-size:14px;margin:0 0 10px}
.downapp1_box >div{display: flex;justify-content: center;}
.downapp1_box >div a{margin:0 5px;}
.downapp1_box >div a img{max-height: 50px;}
.btn-vall{height: 48px;width: calc(100% - 4px);border: 1px solid #D8DFE3;
    border-radius: 12px;background: #E6ECF0;color: #720D5D;font-size:16px;text-align: center;line-height:46px;margin-left: 2px;}
.downapp2_box{background: url(images/urbox/BG.svg) repeat-x center 60px;padding:0 10px 40px;background-size: 100% auto}
.downapp2_box .down{box-shadow: 0 3px 10px #163C8429;background: #fff;border-radius: 12px;padding: 15px 10px 20px;margin:0 0 20px}
.downapp2_box .down h3{color: #720D5D;text-align: center;font-size:24px;margin:0 0 10px;font-weight:700}
.downapp2_box .down>div{display: flex;justify-content: center;}
.downapp2_box .down>div a{margin:0 5px;}
.downapp2_box .down>div a img{max-height: 50px;}
.downapp2_box > p{margin: 0;color:#fff;font-size:16px;}
.downapp2_box .call a{font-size: 20px;color: #fff;}
.pd-10{padding-bottom: 10px!important;}
.popup_install_app{width: calc(100vw - 20px);height: auto!important;
    left: 0!important;
    top: 50px!important;
    right: 0!important;
    margin: auto!important;
    background: #FFFFFF!important;
    border-radius: 24px!important;
    min-height: 297px;
    box-shadow: none !important;}
.popup_install_app .popup_content>img{width: 100%;margin: 0 0 15px;}
.popup_install_app .popup_content>strong{color: #632466;font-size: 20px;font-weight: 700;text-align: center;margin: 0 25px 5px;display: block}
.popup_install_app .popup_content>p{color: #474747;font-size: 16px;margin: 0 10px 15px;text-align: center;display: block}
.popup_install_app .popup_content>p a{color: #720D5D;font-weight:700}
.btn-xxxc{height: 56px;
    line-height: 56px;
    width: calc(100% - 30px);
    margin: 0 15px 5px;
    border: 0;color: #FFF;
    font-size:20px;font-weight:700;
    background: #720D5D;
    border-radius: 12px;
}
.btn-xxxc1{
    text-align: center;color: #969EB2;font-size:16px;line-height: 19px;
    display: block;margin: 16px auto;
}
.popup_install_app .popup_content .bt{margin: 0 10px;border-top: 1px solid #E6ECF0;padding:20px 0 20px 15px;text-align: center;color: #969EB2;font-size:14px;}
.popup_install_app .popup_content .bt input[type=radio]{display: none}
.popup_install_app .popup_content .bt label{position: relative;}
.popup_install_app .popup_content .bt input[type=radio] + label:before{content:'';position: absolute;border: 1px solid #E0E0E0;width: 20px;height: 20px;background: #fff;left: -27px;
    top: -4px;border-radius: 50%}
.popup_install_app .popup_content .bt input[type=radio]:checked + label:before{border: 1px solid #1289db;}
.popup_install_app .popup_content .bt input[type=radio]:checked + label:after{content:'';position: absolute;width: 16px;height: 16px;background: #1289db;left: -24px;
    top: -1px;border-radius: 50%}

.popup_open_app{width: calc(100vw - 20px);height: auto!important;
    left: 0!important;
    top: 50px!important;
    right: 0!important;
    margin: auto!important;
    background: #FFFFFF!important;
    border-radius: 24px!important;
    min-height: 297px;
    box-shadow: none !important;}
.popup_open_app .popup_content>img{width: calc(100% - 30px);margin: 15px}
.popup_open_app .popup_content>p{color: #474747;font-size: 16px;margin: 0 10px 15px;text-align: center;display: block}
.popup_open_app .popup_content>p a{color: #720D5D;font-weight:700}

/*LOGIN PAGE*/
.balancelogin_box{background: url(images/urbox/BG.svg) repeat-x center bottom;text-align: center;}
.balancelogin_box .container>h2{color: #000;font-size: 24px;font-weight:700;line-height: 24px;padding: 30px 0 5px;display: block;margin: 0}
.balancelogin_box .container>.cap{font-size: 16px;line-height: 22px;margin: 0 0 10px;}
.balancelogin_box .container>.cap strong{color: #632466;}
.balancelogin_box .formx1{margin: 65px 0 50px;}
.formx1{background: #fff;padding: 15px 15px 0;box-shadow: 0 3px 6px #163C8429;border-radius: 12px;}
.formx1 .cardX1{margin: -65px 0 0;border-radius: 12px;box-shadow: 0 15px 20px -12px #720d5d}
.formx1 .lb{margin: 24px 0}
.formx1 .form-control-1{margin: 0 0 7px}
.formx1 .btn-xn{margin: 18px 0 24px}
.formx1 .signout{border-top: 1px solid #E6ECF0;padding: 20px 0;display: flex;font-size: 16px;text-align: left;}
.formx1 .signout label{flex: 1;color: #000;}
.formx1 .signout a{color: #1074FF;padding: 0 0 0 25px;background: url(images/urbox/signout.svg) no-repeat left center;background-size: auto 100%;}
.cardX1{position: relative;}
.cardX1 img{width: 100%;}
.cardX1 div{position: absolute;color:#fff;left: calc(100% / 16);bottom: calc(100% / 16);text-align: left}
.cardX1 div label{display: block;text-transform: uppercase;font-size: 20px;font-weight: 300;line-height: 24px;}
.cardX1 div strong{display: block;line-height: 30px;font-size: 24px;font-weight: 700;}

.balancelogin_box .ft{color: #fff;padding: 0 0 5px}
.balancelogin_box .ft p{margin: 0;font-size:16px;}
.balancelogin_box .ft .call a{font-size: 20px;color: #fff}
.warningx{color: #FF0000;font-size: 14px;padding: 0 0 0 18px;background: url(images/urbox/ico.svg) no-repeat 0 center;background-size: 13px auto;text-align: left}
.warningx1{color: #F78F00;font-size: 14px;padding: 0 0 0 18px;background: url(images/urbox/ico1.svg) no-repeat 0 center;background-size: 13px auto;text-align: left}
.warningy{color: #fff;font-size: 14px;text-align: center;line-height: 20px;background: rgba(0,0,0,.6);border-radius: 12px;padding: 8px;}
.flex-1{flex:1}
.hr1.mb-10{margin-bottom: 5px!important;}
.warningxx hr{margin: 10px 0}
/*END LOGIN PAGE*/

/*UrBox_Link_Balance_Popup – Voucher*/
.popup_confirm_voucher{
  height: auto!important;
  top: auto!important;
  right: 0!important;
  margin: auto!important;
  background: #FFFFFF!important;
  border-radius: 32px 32px 0 0 !important;
  box-shadow: none !important;
  bottom: 0;
  padding:20px 15px;
}
.box_list_voucher{
  box-shadow: 0 3px 10px #163C8429;background: #fff;
  border-radius: 15px;
  padding: 10px;
  position: relative;;
}
.box_list_voucher.new_buy:before{content:'';width: 76px;height: 23px;background: url(images/urbox/tag.svg) no-repeat center center;position: absolute;left: 10px;top: -4px;}
.box_list_voucher.expried_vc:before{content:'';width: 65px;height: 23px;background: url(images/urbox/tag1.png) no-repeat center center;position: absolute;left: 10px;top: -4px;}
.item_vc1{margin: -10px;padding: 10px;}
.item_vc1 .thumb{width: 68px;height: 68px;border-radius: 50%;overflow: hidden}
.item_vc1 .thumb img{width: 100%;}
.item_vc1 .info{flex: 1;}
.item_vc1 .info>a h3{
  color: #380606;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  max-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100vw - 175px);
}
.item_vc1 .info>strong{display: block;color: #720D5D;font-size: 14px;}
.item_vc1 .info>span{display: block;color: #969EB2;font-size: 14px;}
.item_vc1 .info>span b{color: #ED1B2E;font-weight: 500;}
.item_vc1 .info>span b.ssc{color: #37B34A;}
.item_voucher{display: flex;}
.item_voucher>a img{
  width: calc(100vw / 2.7);
  background: #000;
  height: calc(100vw / 5);
  border: 0;
  outline: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: none;
}
.item_voucher .info{margin: 0 0 0 15px;display: flex;flex-direction: column;justify-content: center;}
.item_voucher .info h3{color: #380606;font-size: 14px;line-height: 16px;margin: 5px 0 0;font-weight: 400}
.item_voucher .info strong{color: #720D5D;font-size: 17px;display: block;margin: 0;}
.item_voucher .info span{color: #969EB2;font-size: 14px;}
.hr1{position: relative;overflow: inherit;margin: 0 -20px;height: 16px;padding: 0 25px;}
.hr1 span{display: block;border-bottom: 1px dashed #E0E0E0;padding: 7px 0 0;}
.hr1:before{
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(images/urbox/ticket.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.hr1:after{
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(images/urbox/ticket.png) no-repeat 0 0;
  background-size: 100% 100%;
  transform: scaleX(-1);
}
.hr1fix:before{
  background: url(images/urbox/ticket1.png) no-repeat 0 0;
  background-size: 100% 100%;
  left: 1px;
}
.hr1fix:after{
  background: url(images/urbox/ticket1.png) no-repeat 0 0;
  background-size: 100% 100%;
  right: 1px;
}
.hr2{position: relative;overflow: inherit;margin: 0 -20px;height: 16px;padding: 0 25px;}
.hr2 span{display: block;border-bottom: 1px dashed #E0E0E0;padding: 7px 0 0;}
.hr3{position: relative;width: 16px;margin: -10px 5px;}
.hr3:before{
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0;
  top: -8px;
  background: url(images/urbox/ticket2.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.hr3:after{
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: -8px;
  background: url(images/urbox/ticket3.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.hr6{
  position: relative;
  overflow: inherit;
  margin: 0 -10px;
  height: 16px;
  padding: 0 18px;
}
.hr6 span{display: block;border-bottom: 1px dashed #E0E0E0;padding: 8px 0 0;}
.hr6:before{
  content: '';
  width: 10px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(images/urbox/ticket5.png) no-repeat 0 0;
  background-size: 100% 100%;
  transform: scaleX(-1);
}
.hr6:after{
  content: '';
  width: 10px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(images/urbox/ticket5.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.tab_ready_used .swiper-container .hr3:after{
  background: url(images/urbox/ticket4.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.hr4{position: relative;overflow: inherit;margin: 0 -20px;height: 16px;padding: 0 25px;}
.hr4 span{display: block;border-bottom: 1px dashed #E0E0E0;text-align: center;height: 8px;}
.hr4 span>label{
  background: #fff;margin: auto;
  color: #969EB2;
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: -4px;
  padding: 0 5px
}
.hr4:before{
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(images/urbox/ticket1.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.hr4:after{
  content: '';
  width: 17px;
  height: 16px;
  position: absolute;
  right: 0;
  top: 0;
  background: url(images/urbox/ticket1.png) no-repeat 0 0;
  background-size: 100% 100%;
  transform: scaleX(-1);
}
.hr5{position: relative;width: 16px;margin: -10px 5px;}
.d_term{display: flex;}
.d_term>a{color: #1074FF;font-size:14px;flex:1;line-height: 24px;}
.d_term>div{display: flex;}
.d_term>div a{
  width: 24px;
  height: 24px;
  background: url(images/urbox/minus.svg) no-repeat center center #F0F3F5;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
}
.d_term>div a.plus{background: url(images/urbox/plus.svg) no-repeat center center #F0F3F5;}
.d_term>div input{
  border: 0;
  width: 56px;
  text-align: center;
  height: 24px;
  color: #720D5D;
  font-size: 14px;
  font-weight: 700;
}
.mb-5{margin-bottom: 5px!important;}
.mb-10{margin-bottom: 10px!important;}
.mb-15{margin-bottom: 15px!important;}
.mb-20{margin-bottom: 20px!important;}
.btn_confirm{
  width: 100%;
  height: 64px;
  box-shadow: 0 0 20px #163C8429;
  border-radius: 40px;
  border: 8px solid #fff;
  background: #720D5D;
  display: flex;
  padding: 0 15px;color: #FFF;
  font-size: 16px;
  font-weight:700;
  text-align: left;
}
.btn_confirm label{flex:1;}
/*END UrBox_Link_Balance_Popup – Voucher*/

/*UrBox_Link_Balance_Popup – Voucher2*/
.popup_term_voucher{width: calc(100vw - 30px);
  left: 0!important;
  top: 70px!important;
  right: 0!important;
  margin: auto!important;
  background: transparent!important;
  min-height: auto;
  box-shadow: none !important;text-align: center;
}
.popup_term_voucher .popup_content{background: #fff;
  border-radius: 24px!important;
  height: calc(100vh / 1.5)!important;
  text-align: left;
}
.popup_term_voucher .popup_content .pph{color: #000;font-size: 17px;font-weight: 500;line-height: 22px;padding: 15px 0;border-bottom: 1px solid #E0E0E0;text-align: center;}
.popup_term_voucher .popup_content .ppc{margin: 10px 5px 10px;overflow: auto;max-height: calc(100vh / 1.5 - 75px);padding:  0 0 0 5px;}
.popup_term_voucher .popup_content .ppc h3{font-size: 17px;color: #000;margin: 0 0 5px;}
.popup_term_voucher .popup_content .ppc .xvv{font-size: 15px;margin: 0 0 10px;}
.popup_term_voucher .popup_content .ppc::-webkit-scrollbar {
  width: 4px;
  height:8px
}

.popup_term_voucher .popup_content .ppc::-webkit-scrollbar-track {
  box-shadow: none;
  background: #F0F3F5;
  border-radius: 3px;
  border: 0.5px solid #F0F3F5;
}

.popup_term_voucher .popup_content .ppc::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-width: 0 0 0 11px;
  border-radius: 3px
}
.btn-closexxxx{margin: 24px auto;width: 40px;height: 40px;display: inline-block;background: url(images/urbox/cancel.svg) no-repeat center center rgba(0,0,0,.4);border-radius: 50%;}
/*EndUrBox_Link_Balance_Popup – Voucher2*/

/*UrBox_Link_Balance_voucher*/
.egift_box{margin: 20px 0 24px;}
.gift_item .thmb{border-radius: 10px;overflow: hidden;margin: 0 0 15px;}
.gift_item .thmb img{width: 100%}
.gift_item>a{display: block;color: #380606;font-size: 16px;text-align: center}
.gift_item>strong{color: #720D5D;display: block;text-align: center;font-size: 24px;font-weight: 700;margin: 0 0 5px;}
.qr_box .lgl{display: block;margin: 0 0 15px;}
.qr_box .lgl img{max-height: 36px;}
.qr_box .imgqr{border-radius: 12px;padding: 10px;background: #fff;box-shadow: 0 3px 10px #163C8429;margin: 0 50px 13px;}
.qr_box .imgqr img{max-width: 100%;}
.qr_box .divcopy{border-radius: 12px;padding: 10px;background: #fff;box-shadow: 0 3px 10px #163C8429;margin: 0 0 15px;text-align: center;}
.qr_box .divcopy label{display: block;color: #969EB2;font-size:15px;}
.qr_box .divcopy strong{display: block;color: #380606;font-size: 20px;}
.copysvscl.dialog{width: 122px;box-shadow: 0 3px 20px #163C8429;border-radius: 24px;left: 0;right: 0;margin: auto;background: #fff;}
.copysvscl.dialog .dialog-inner{padding: 20px 0}
.qr_box .info{text-align: center;}
.qr_box .info b{display: block;color: #380606;font-size: 20px;font-weight: 500;margin: 0 0 5px;}
.qr_box .info ul{font-size: 14px;line-height: 20px;margin: 0 0 5px;}
.qr_box .info ul label{color: #969EB2;}
.qr_box .info ul span{color: #ED1B2E;font-weight: 700}
.qr_box .info ul strong{color: #1074FF;}
.qr_box .act{text-align: center;padding: 10px 0}
.btn-gift{display: inline-block;color: #474747;font-size: 14px;line-height: 20px;padding: 0 0 0 35px;background: url(images/urbox/ico_gift.svg) no-repeat 0 center transparent;border: 0;height: auto;margin: auto}
.store_box .tab_h>div{display: flex}
.store_box .tab_h a{flex: 1;height: 48px;padding: 0;line-height: 46px;text-align: center;font-weight: 500;font-size: 17px;position: relative;color: #969EB2;margin: 0 5px;}
.store_box .tab_h a.tab-link-active{color: #632066;}
.store_box .tab_h a.tab-link-active:after{content:'';height: 4px;background: #632066;border-radius: 4px;position: absolute;left: 0;right: 0;bottom: 0}
.store_box .tabs_c{background: #fff;margin: 0 -10px;padding: 15px 10px;}

.gift_me_box .tab_h{margin: 1px -10px 0;position: relative}
.gift_me_box .tab_h>div{display: flex;background: #fff;padding: 0 10px;justify-content: center}
.gift_me_box .tab_h a{padding: 22px 5px 18px;line-height: 20px;text-align: center;font-weight: 500;font-size: 14px;position: relative;color: #969EB2;margin: 0 13px;}
.gift_me_box .tab_h a.tab-link-active{color: #632066;}
.gift_me_box .tab_h a:after{content:'';height: 4px;background: transparent;border-radius: 4px;position: absolute;left: 0;right: 0;bottom: 0}
.gift_me_box .tab_h a.tab-link-active:after{background: #632066;}
.gift_me_box .tabs_c{margin: 0 -10px;padding: 15px 10px;}

.tab_1_c{color: #474747;font-size: 15px;}
.item_storex{box-shadow: 0 3px 6px #163C8429;padding: 5px;margin: 0 0 15px;
  border-radius: 12px;background: #FAFBFF;display: flex;}
.item_storex .stor{background: rgba(114,13,93,.06);border-radius: 8px;width: 64px;
  height: 64px;display: flex;justify-content: center;align-items: center;}
.item_storex .stor img{max-width: 100%;max-height: 100%;}
.item_storex .info{margin: 0 10px 0 12px;flex: 1;padding: 12px 0 0}
.item_storex .info a{display: block;color: #474747;font-size: 14px;}
/*End UrBox_Link_Balance_voucher*/
.tab_ready_used .box_list_voucher{margin: 0 0 15px;}
.tab_ready_used .swiper-container{margin: -10px -10px 0;padding: 10px 10px 30px;}
.tab_ready_used .swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 15px;background: #fff;
  left: 20px;
  right: 20px;
  width: auto;border-radius: 0 0 12px 12px;box-shadow: 0 3px 10px #163C8429;
  height: 30px;z-index: -1;
}
.actxx{padding: 10px 0 0;}
.actxx a{color: #380606;font-size: 17px;height: 30px;line-height: 30px;border-right: 1px solid #ddd;padding: 0 25px;}
.actxx a:last-child{border: 0}
.actxx a img{margin: 0 12px 0 0}
.actxx a span{white-space: nowrap}
.swiper-sk{
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 16px;
  width: auto;
  background: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  box-shadow: 0 3px 6px #163C8429;
}
.swiper-sk .swiper-pagination-progressbar{
  position: relative;
  flex: 1;
  margin: 14px 5px 13px 10px;
  background: #F0F3F5;
  height: 2px;
}
.swiper-sk .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #720D5D}
.swiper-sk .swiper-pagination-page{
  color: #969EB2;font-size: 12px;margin: 7px 10px 0;
}

.popup_used_vc{width: calc(100vw - 20px);height: auto!important;
  left: 0!important;
  top: 50px!important;
  right: 0!important;
  margin: auto!important;
  background: #FFFFFF!important;
  border-radius: 15px!important;
  padding: 10px;
  box-shadow: none !important;}
.popup_used_vc .popup_content>img{width: 100%;margin: 0 0 15px;}
.popup_used_vc .popup_content>strong{color: #632466;font-size: 20px;font-weight: 700;text-align: center;margin: 0 25px 5px;display: block}
.popup_used_vc .popup_content>p{color: #474747;font-size: 16px;margin: 0 10px 15px;text-align: center;display: block}
.popup_used_vc .popup_content>p a{color: #720D5D;font-weight:700}
.used_x1{font-size: 17px;color: #474747;line-height:24px;padding: 10px 0;}
.used_x1 .btnx{padding: 15px 0;}
.btn-used-now{background: #720D5D;border: 1px solid #8E1675;border-radius: 12px;height: 56px;line-height: 54px;color:#fff;font-size: 17px;width: 163px;text-align: center;margin-right: 10px;}
.btn-cancel{background: #FFF;border: 2px solid #8E1675;border-radius: 12px;height: 56px;line-height: 52px;font-size: 17px;color: #720D5D;width: 163px;text-align: center;}
.history-1.page{background: url(images/urbox/bgrrrr.png) repeat center center}
.sect_day{margin: 0 -10px 12px;background: #fff;}
.sect_day>div{padding: 10px 10px 5px;color: #720D5D;font-size:17px;}
.sect_day>div strong{flex:1;margin:0 0 0 5px;}
.sect_day>ul li{border-bottom:1px solid #F4F6F8;padding: 11px 10px;display: flex;color: #474747;font-size:15px;}
.sect_day>ul li span{flex:1;position: relative;padding: 0 0 0 10px;}
.sect_day>ul li span:before{content:'';height: 6px;width: 6px;border-radius:6px;background: #720D5D;position:absolute;top:0;bottom:0;left:0;margin:auto}
.sect_day>ul li strong{display: flex;}
.sect_day>ul li:last-child{border: 0}

@media (max-width: 720px) {
  .container{padding: 0 10px;}
}
.breadcrumb_ib{}
.breadcrumb_ib .breadcrumb{display: flex;margin: 0;padding: 0}
.breadcrumb_ib li{list-style: none;font-size: 16px;margin-right: 4px;}
.breadcrumb_ib li a{color: #8195A3;}
.breadcrumb_ib li.active{color: #474747;background: transparent}
.footer_fe{color: #969EB2;font-size: 16px;padding: 15px 0 30px;}
@media (min-width: 1260px) {
  body{
    max-width:none;
  }
  header .region{right:100px;}
  .giftcard_box{background: url(images/urbox/imagexxxx.svg) no-repeat center -175px;padding: 300px 0 65px;}
  .giftcard_box .box{width: 550px;border-radius: 32px;box-shadow: 0 10px 30px #163C8429;margin: 0 auto;    padding: 15px 50px;}
  .giftcard_box .box h4{font-size: 24px;}
  .giftcard_box .box .form-control-1{margin: 0 80px 20px;}
  .giftcard_box .box .btn-xn{margin: 0 80px 20px;width: calc(100% - 160px);}
  .listbrand_box h2{font-size: 32px;margin: 0 0 17px;}
  .listbrand_box .tabx .tab_h{overflow: inherit;text-align: center}
  .listbrand_box .tabx .tab_h div{width: auto;display: inline-block;margin: 0 auto;}
  .swiper-container.swiper-containerxxx .swiper-slide .brand-1{    width: 136px;
    height: 136px;
  margin: 0 25px 15px}
  .brand-1>a:nth-child(1){
    width: 80px;
    height: 80px;
  }
  .listbrand_box .container{max-width: 1150px;padding-bottom: 30px}
  .listbrand_box .tabx .tab_h a{font-size:16px;}
  .swiper-container.swiper-containerxxx .swiper-slide .brand-1:nth-child(3n+1){margin: 0 25px 15px}
  .listbrand_box{position: relative;}
  .swiper-container.swiper-containerxxx{padding: 30px 0 50px}
  .listbrand_box:before{content:'';height: calc(100% - 122px);position: absolute;top: 122px;left: 0;right: 0;bottom: 0;*background: url(images/urbox/bgrrrr.png) repeat center center}
  .balancelogin_box .container{width: 670px;}
  .balancelogin_box .formx1{
    box-shadow: 0px 10px 30px #163C8429;
    border-radius: 32px;
    margin: 125px 0 50px;
  }
  .formx1 .cardX1{width: 400px;margin: -120px auto 0}
  .formx1 .form-control-1{margin: 0 auto 7px}
  .formx1 .form-control-1,.formx1 .btn-xn{width: 342px}
  .formx1 .signout{padding: 20px 130px}
  .balancelogin_box{background: url(images/urbox/BG111.svg) repeat-x center bottom;}
  .balancelogin_box .ft{padding: 65px 0 25px;}
  .balancelogin_box .container>h2{padding: 45px 0 10px}
  .formx1 .btn-xn{margin: 18px 0 35px}
  .formx1 .warningx{margin:0 130px 0}
  .cardX1 div label{font-size: 24px;}
  .cardX1 div strong{font-size:28px;}
  header.hsearch > .container{padding:20px 100px;}
  header.hsearch .lgxx{position: absolute}
  header.hsearch .lgxx img{height: 60px;}
  header.hsearch .vvvv{width: 670px;margin: 0 auto}
  header.hsearch .search input{}
  header.hsearch .search{width: 368px;height: 40px;}
  header.hsearch .bt{position: absolute;right: 200px;padding-right: 28px;}
  header.hsearch .bt:after{content:'';height: 24px;top: 0;right: 0;bottom:0;margin: auto;position: absolute;width: 1px;background: #E2E6E8}
  header.hsearch .bt .btn_qua{height: 40px;border-radius: 20px;line-height: 40px;}
  header.hsearch .bt .btl{padding: 0 20px 0 0}
  header.hsearch .bt .btl span{color: #000;display: block;font-size:14px;line-height:16px;text-align: right;}
  header.hsearch .bt .btl strong{color: #720D5D;font-size:20px;line-height:24px}
  .cardnumber_box{margin:0;padding: 20px 0 94px;background: #fff;position: static}
  .cardnumber_box .container{width: 1230px;}
  .cardX{border-radius: 20px;margin: 0 10px}
  .cardX .bh{background: url(images/urbox/MaskGroup37.png) no-repeat right center transparent;height: 298px;padding: 30px 10px 8px 33px;}
  .cardX .bh>.lgg{max-height: none;height: 40px;margin: 0 0 180px}
  .cardX .bh>span{font-size: 24px;}
  .cardX .bh>label{font-size: 28px;}
  .downapp1_box{background: url(images/urbox/BG222.svg) no-repeat center center;background-size: 100%;width: 1110px;margin: -42px auto 55px;display: flex;align-items: center;padding: 18px 30px;}
  .downapp1_box >div a{margin:0 0 0 30px;}
  .downapp1_box h3{flex: 1;text-align: left;font-size: 24px;font-weight: 700;margin: 0}
  .btn-vall{max-width: 448px;margin: 0 auto}
  .listbrand_box.bgrnnn:before{display: none;}
  .downapp2_box{background: url(images/urbox/BG333.svg) repeat-x center 115px;}
  .downapp2_box .down{width: 448px;margin: 0 auto 20px;box-shadow: 0 3px 16px #163C8433;border-radius: 12px;}
  .downapp2_box .down>div a{display: block;margin-bottom: 14px;}
  .downapp2_box .down>div a:last-child{margin-bottom: 0}
  .downapp2_box .down .qr{background: #FFF;box-shadow: 0 3px 16px #163C8429;border-radius: 8px;padding: 10px;margin-right: 40px;}
  .cardnumber_box:before{display: none;}
  .popup_confirm_voucher{width: 414px !important;top: 150px!important;bottom: auto!important;left: 0!important;padding:0 0 60px;background: transparent !important;}
  .popup_confirm_voucher .popup_content{background: #fff;padding: 20px 15px;border-radius: 32px !important;}
  .popup_confirm_voucher .popup_content .btn-closexxxx{position: absolute;bottom: 0;left: 0;right: 0;margin: auto;}
  .item_voucher>a img{width: 160px;height: 76px;}
  .popup_install_app{width: 382px;}
  .popup_install_app .btn-xxxc{font-size: 16px;}
  .popup_install_app .btn-xxxc1{font-size: 14px;}
  .popup_open_app{padding:56px 0 0;background: transparent!important;}
  .popup_open_app .popup_content{background: #fff;padding: 20px 15px;border-radius: 32px !important;}
  .popup_open_app .popup_content .btn-closexxxx{position: absolute;top: 0;right: 0;margin: 0}
  .vd_sec{position: relative;min-height: calc(100vh - 82px);padding: 50px 0 0;}
  .vd_sec:before{content:'';position: absolute;bottom: 0;background: #fff;width: calc(100vw/2 - 430px);left: 0;top: 0;height: 100%;z-index: -1}
  .vd_sec:after{content:'';position: absolute;bottom: 0;background: #F0F3F5;width: calc(100vw/2 + 430px);right: 0;top: 0;height: 100%;z-index: -1}
  .vd_sec .auto_x{width: 1170px;margin: 0 auto;position: relative;display: flex;}
  .vd_sec .auto_x .container{padding: 0}
  .vd_sec .auto_x .swiper-init-s-1{width: 427px;margin: -10px -10px 0;padding: 10px 10px 0;}
  .vd_sec .auto_x .egift_box{width: 427px;margin: 0}
  .vd_sec .auto_x .egift_box .hr1:before{background: url(images/urbox/ticket6.png) no-repeat 0 0;background-size: 100% 100%;}
  .qr_box .imgqr{width: 140px;margin: 0 auto 13px;}
  .vd_sec .auto_x .store_box{flex: 1;margin: 0 0 0 50px;}
  .vd_sec .auto_x .store_box .tab-link{color: #032136;font-size: 20px;font-weight: 700;padding-top:15px;}
  .vd_sec .auto_x .store_box .tab_1_c{padding:10px 0 15px;color: #032136;font-size: 16px;}
  .vd_sec .auto_x .store_box .tab_2_c{background: #fff;box-shadow: 0px 3px 10px #0054901A;border-radius: 12px;padding: 20px 5px 20px 20px;margin: 20px 0}
  .vd_sec .auto_x .store_box .tab_2_c>div{overflow: auto;max-height: 360px;}
  .vd_sec .auto_x .store_box .tab_2_c>div::-webkit-scrollbar {
    width: 4px;
    height:8px
  }

  .vd_sec .auto_x .store_box .tab_2_c>div::-webkit-scrollbar-track {
    box-shadow: none;
    background: #F0F3F5;
    border-radius: 3px;
    border: 0.5px solid #F0F3F5;
  }

  .vd_sec .auto_x .store_box .tab_2_c>div::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-width: 0 0 0 11px;
    border-radius: 3px
  }
  .vd_sec .auto_x .store_box .tab_2_c .item_storex{margin-right: 15px;padding: 3px 4px;}
  .vd_sec .auto_x .store_box .tab_2_c .item_storex .stor{height: 42px;width: 42px;}
  .vd_sec .auto_x .store_box .tab_2_c .item_storex .stor img{height: 32px;width: 32px;}
  .swiper-init-s-1 .swiper-sk{background: transparent;box-shadow: none;text-align: center;bottom:20px;}
  .swiper-init-s-1 .swiper-sk .swiper-pagination-page{font-size:16px;color: #8195A3;margin:7px auto 0}
  .swiper-init-s-1 .swiper-sk .swiper-pagination-page span{color: #720D5D;}
  .swiper-init-s-1 .swiper-button-next,
  .swiper-init-s-1 .swiper-button-prev{height: 48px;width: 48px;}
  .swiper-init-s-1 .swiper-button-prev{height: 48px;width: 48px;}
  .swiper-init-s-1 .swiper-button-next:after,
  .swiper-init-s-1 .swiper-button-prev:after{
    content:'';
    background: url(images/urbox/nb.png) no-repeat center center #fff;
    background-size: 24px 16px;
    box-shadow: 0 3px 10px #001C261A;
    border-radius: 50%;
  }
  .swiper-init-s-1 .swiper-button-next,
  .swiper-init-s-1  .swiper-container-rtl .swiper-button-prev{
    right: 120px;
  }
  .swiper-button-next{transform: scaleX(-1);-webkit-transform: scaleX(-1);}
  .swiper-init-s-1 .swiper-button-prev,
  .swiper-init-s-1 .swiper-container-rtl .swiper-button-next{
    left: 120px;
  }
  .history-1.page{background: #F0F3F5;}
  .brcr{text-align: center;padding: 50px 0 20px;}
  .brcr .breadcrumb_ib{margin: 0 auto;display: inline-block}
  .gift_me_box .container{width: 700px;background: #FFF;border-radius: 20px;box-shadow: 0 10px 30px #163C8429;overflow: hidden;padding: 0;}
  .gift_me_box .tab_h{margin: 0;border-bottom: 1px solid #eee;}
  .gift_me_box .tab_h>div{justify-content: start}
  .gift_me_box .tab_h a{font-weight: 400;}
  .gift_me_box .tab_h a:last-child{color: #1074FF;position: absolute;right: 0}
  .gift_me_box .tab_h a.link-active:last-child:after{background: #1074FF;}
  .hr4:before{background: url(images/urbox/ticket6.png) no-repeat 0 0;background-size: 100% 100%}
  .hr4:after{background: url(images/urbox/ticket6.png) no-repeat 0 0;background-size: 100% 100%;transform: scaleX(-1);}
  .hr3:before{
    background: url(images/urbox/ticket7.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  .tab_ready_used .box_list_voucher{margin: 0 100px 15px}
  .gift_me_box .swiper-sk{left: 120px;right: 120px;}

  .swiper-init-s-2 .swiper-button-next,
  .swiper-init-s-2 .swiper-button-prev{height: 60px;width: 60px;}
  .swiper-init-s-2 .swiper-button-next:after,
  .swiper-init-s-2 .swiper-button-prev:after{
    content:'';
    background: url(images/urbox/nb1.png) no-repeat center center #fff;
    background-size: 36px 24px;
    box-shadow: 0 3px 10px #001C261A;
    border-radius: 50%;
  }
  .swiper-init-s-2 .swiper-button-next,
  .swiper-init-s-2  .swiper-container-rtl .swiper-button-prev{
    right: 25px;
    top: 45px;
  }
  .swiper-button-next{transform: scaleX(-1);-webkit-transform: scaleX(-1);}
  .swiper-init-s-2 .swiper-button-prev,
  .swiper-init-s-2 .swiper-container-rtl .swiper-button-next{
    left: 25px;
    top: 45px;
  }
  .gift_me_box .tabs_c{
    padding: 15px 10px;
  }
  .gift_me_box .tabs_c .tab-active{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 5px;
    padding: 5px 0;
  }
  .gift_me_box .tabs_c .tab-active::-webkit-scrollbar {
    width: 4px;
    height:8px
  }

  .gift_me_box .tabs_c .tab-active::-webkit-scrollbar-track {
    box-shadow: none;
    background: #F0F3F5;
    border-radius: 3px;
    border: 0.5px solid #F0F3F5;
  }

  .gift_me_box .tabs_c .tab-active::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-width: 0 0 0 11px;
    border-radius: 3px
  }
  .fft{
    background: url(images/urbox/BG111.svg) repeat-x center top;
    margin: -270px 0 0;
    position: relative;
    z-index: -1;
    padding: 300px 0 15px;
  }
  .fft .ft{color: #fff;padding: 0 0 5px}
  .fft .ft p{margin: 0;font-size:16px;}
  .fft .ft .call a{font-size: 20px;color: #fff}
  .popup_used_vc{width: 382px !important;top: 150px!important;}
  .tab-active .tab_ready_used .hr3:after{
    background: url(images/urbox/ticket4.png) no-repeat 0 0;
    background-size: 100% 100%;
  }
  .sect_day{margin: 0 10px 12px}
  .sect_day>ul{border-bottom: 12px solid #F0F3F5;padding-bottom:5px;}
  .tab_ready_used .sect_day:last-child>ul{border: 0}
  .sect_day>ul li{padding: 11px 0}
  .sect_day>div{padding: 10px 0 5px}
}
@media (min-width: 1440px){
    header.hsearch .vvvv{width: 1170px;margin: 0 auto}
}
@media (min-height: 630px) and (min-width: 630px){
  .popup_install_app,.popup_open_app,.popup_used_vc{width: 382px!important;}
  .popup_open_app{padding:56px 0 0;background: transparent!important;}
  .popup_open_app .popup_content{background: #fff;padding: 20px 15px;border-radius: 32px !important;}
  .popup_open_app .popup_content .btn-closexxxx{position: absolute;top: 0;right: 0;margin: 0}
}