<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="navbar-inner">
				<div class="my-point w50p fl">
					Số dư <span class="color-spruce display-block">320.000.000 VND</span>
				</div>
				<div class="my-voucher w50p fr">
					<a href="#" class="bg-paleGrey fr">
						Quà của tôi <span>1</span>
						<img src="style/images/arrow-right.png" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40">
					<div class="card-number">
						**** **** **** 1234
					</div>
				</div>
			</div>

			<div class="filter-block">
				<div class="mT15 mB20 f-bold center-content text-center">
					Chọn món quà yêu thích
				</div>
				<div class="filter-form">
					<select name="1" class="float-left">
						<option value="">Danh mục</option>
					</select>
					<select name="1">
						<option value="">Địa điểm</option>
					</select>
					<select name="1" class="float-right">
						<option value="">Giá trị</option>
					</select>
				</div>
			</div>

			<div class="block-gifts mT25">
				<div class="gift-item">
					<div class="gift-img">
						<img src="style/images/gift-1.png" alt="">
					</div>

					<div class="gift-content">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O</div>
						<div class="gift-price color-spruce"><span class="old-price">10.000 đ</span>100.000đ</div>
					</div>
				</div>
				<div class="gift-item">
					<div class="gift-img">
						<a href="">
							<img src="style/images/gift-1.png" alt="">
						</a>
					</div>

					<div class="gift-content">
						<a href="#">
							<div class="gift-name">eGift - Combo 01 Vé xem phim</div>
							<div class="gift-price color-spruce">100.000đ</div>
						</a>
					</div>
				</div>
				<div class="gift-item">
					<div class="gift-img">
						<a href="#">
							<img src="style/images/gift-1.png" alt="">
						</a>
					</div>

					<div class="gift-content">
						<a href="#">
							<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O</div>
							<div class="gift-price color-spruce">100.000đ</div>
						</a>
					</div>
				</div>
				<div class="gift-item">
					<div class="gift-img">
						<a href="#">
							<img src="style/images/gift-1.png" alt="">
						</a>
					</div>

					<div class="gift-content">
						<a href="#">
							<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O</div>
							<div class="gift-price color-spruce">100.000đ</div>
						</a>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
