<div class="page" data-name="redeem-success">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="my-point w50p fl">
				Số dư <span class="color-spruce display-block">320.000.000</span>
			</div>
			<div class="my-voucher w50p fr">
				<a href="#" class="bg-paleGrey fr">
					Quà của tôi <span>1</span>
					<img src="style/images/arrow-right.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="redeem-success">
				<a href="#">
				<img src="style/images/gift-2.png" class="detail-img" alt="">
				</a>
				<div class="detail-content">
					<a href="#">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32Oz</div>
						<div class="gift-price color-spruce">Redeem successfully!</div>
						<div class="gift-note">BHD</div>
					</a>
				</div>

			</div>
		</div>
		<hr class="hr mT25 mB15">
		<div class="container">
			<div class="block-review">
				<div class="review-title f-bold">
					Đánh giá
				</div>
				<div class="review-star">
					<img class="img-star" id="star-1" onclick="_.mod.click.choosestar(1)" src="style/images/icon-star-blank.png" alt="">
					<img class="img-star" id="star-2" onclick="_.mod.click.choosestar(2)" src="style/images/icon-star-blank.png" alt="">
					<img class="img-star" id="star-3" onclick="_.mod.click.choosestar(3)" src="style/images/icon-star-blank.png" alt="">
					<img class="img-star" id="star-4" onclick="_.mod.click.choosestar(4)" src="style/images/icon-star-blank.png" alt="">
					<img class="img-star" id="star-5" onclick="_.mod.click.choosestar(5)" src="style/images/icon-star-blank.png" alt="">

				</div>
				<div class="review-input">
					<input type="hidden" id="score-result" name="score">
					<textarea name="review_content" id="" cols="30" rows="10" placeholder="Hãy viết điều gì đó cho UrBox"></textarea>
					<a href="#" class="button button-violet">Tiếp theo</a>
				</div>
			</div>
		</div>
	</div>

</div>
