<link rel="stylesheet" href="../../../../urhtml/mobile/style/style.css">
<div class="page" data-name="gift-detail">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="my-point w50p fl">
				Số dư <span class="color-spruce display-block">320.000.000</span>
			</div>
			<div class="my-voucher w50p fr">
				<a href="#" class="bg-paleGrey fr">
					Quà của tôi <span>1</span>
					<img src="style/images/arrow-right.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="toolbar toolbar-bottom toolbar-transitioning">
		<div class="toolbar-inner">
			<a class="button button-violet w90p f-bold" href="javascript:void(0)">
				Quay về trang chủ
			</a>
		</div>
	</div>

	<div class="page-content">
		<div class="container">
			<div class="gift-detail">
				<a href="#">
					<img src="style/images/gift-2.png" class="detail-img" alt="">
				</a>
				<div class="detail-content long-name">
					<a href="#">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O</div>
						<div class="gift-price color-spruce">800.000 VND</div>
						<div class="gift-note">BHD</div>
					</a>
				</div>

			</div>
			<div class="code-block mT60 pT15">
				<div class="code-name mT15 mB15">
					OIUBVGHJHGER
				</div>
				<div class="code-img mB20">
					<img src="./style/images/qr-code.png" alt="">
				</div>
				<div class="code-expi mB5">
					Hạn sử dụng: <span>20/11/2018</span>
				</div>
				<div class="code-hotline mB20">
					Hotline: <span>0899 189 199</span>
				</div>
				<div class="code-desc">Khách hàng vui lòng đưa link có bao gồm code cho nhân viên tại cửa hàng để sử dụng quà.</div>
				<div class="clear_both"></div>
			</div>
			<div class="code-notes mT30 mB50">
				<span class="mB10">Dành cho nhân viên cửa hàng:</span>
				<a href="#" class="button button-violet" onclick="_.mod.dialog.activeCode()">Kích hoạt code</a>
			</div>
		</div>
		<div class="container">
			<div class="block-content mT25">
				<div class="block-content-title f-bold">
					Điều kiện sử dụng
				</div>
				<div class="block-content-items" id="showTerm">
					Nếu vẫn băn khoăn chưa chọn được hương vị cho món quà của mình, hãy để họ tự lựa chọn ly trà/cà phê yêu thích với voucher tiền mặt từ The Coffee House.
				</div>
				<div class="read-more">
					<a href="#" onclick="_.mod.click.show(this,'showTerm')">Xem thêm</a>
				</div>
			</div>
		</div>
		<hr class="hr">
		<div class="container">
			<div class="block-content mT25">
				<div class="block-content-title f-bold">Cửa hàng áp dụng</div>
				<div class="block-content-items" id="showLoc">
					<span>- 3 Trung Hòa, Cầu Giấy, Hà Nội</span>
					<span>- 62 Mạc Đĩnh Chi, Đakao, Q1, Hồ Chí Minh</span>
					<span>- 5 Kỳ Đồng, Phường 9, Q3, Hồ Chí Minh</span>
					<span>- 36 Duy Tân, Cầu Giấy, Hà Nội</span>
					<span>- 222 Trần Duy Hưng, Cầu Giấy, Hà Nội</span>
				</div>
				<div class="read-more">
					<a href="#" onclick="_.mod.click.show(this,'showLoc')">Xem thêm</a>
				</div>
			</div>
		</div>

	</div>

</div>
