<div class="page" data-name="gift-detail">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="my-point w50p fl">
				Số dư <span class="color-spruce display-block">320.000.000</span>
			</div>
			<div class="my-voucher w50p fr">
				<a href="#" class="bg-paleGrey fr">
					Quà của tôi <span>1</span>
					<img src="style/images/arrow-right.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="toolbar tabbar toolbar-bottom-md">
		<div class="toolbar-inner">
			<a onclick="_.mod.dialog.buyGift('100.000')" class="button button-white w45p" href="javascript:void(0)">
				Quay lại
			</a>
			<a onclick="_.mod.dialog.buyGift('100.000')" class="button button-violet w45p f-bold" href="javascript:void(0)">
				Mua quà
			</a>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="gift-detail">
				<a href="#">
				<img src="style/images/gift-2.png" class="detail-img" alt="">
				</a>
				<div class="detail-content long-name">
					<a href="#">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O</div>
						<div class="gift-price color-spruce">800.000 VND</div>
						<div class="gift-note">BHD</div>
					</a>
				</div>

			</div>
		</div>
		<hr class="hr mT25 mB15">
		<div class="container">
			<div class="block-content mT25">
				<div class="block-content-title f-bold">
					Điều kiện sử dụng
				</div>
				<div class="block-content-items" id="showTerm">
					Nếu vẫn băn khoăn chưa chọn được hương vị cho món quà của mình, hãy để họ tự lựa chọn ly trà/cà phê yêu thích với voucher tiền mặt từ The Coffee House.
				</div>
				<div class="read-more">
					<a href="#" onclick="_.mod.click.show(this,'showTerm')">Xem thêm</a>
				</div>
			</div>
		</div>
		<hr class="hr mT25 mB15">
		<div class="container">
			<div class="block-content mT25">
				<div class="block-content-title f-bold">Cửa hàng áp dụng</div>
				<div class="block-content-items" id="showLoc">
					<span>- 3 Trung Hòa, Cầu Giấy, Hà Nội</span>
					<span>- 62 Mạc Đĩnh Chi, Đakao, Q1, Hồ Chí Minh</span>
					<span>- 5 Kỳ Đồng, Phường 9, Q3, Hồ Chí Minh</span>
					<span>- 36 Duy Tân, Cầu Giấy, Hà Nội</span>
					<span>- 222 Trần Duy Hưng, Cầu Giấy, Hà Nội</span>
				</div>
				<div class="read-more">
					<a href="#" onclick="_.mod.click.show(this,'showLoc')">Xem thêm</a>
				</div>
			</div>
		</div>
	</div>

</div>
