<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="navbar-inner">
				<a class="back" href="#">
					<img src="./style/images/img-back.png" alt="">
				</a>
				<div class="ur-logo">
					<img src="./style/images/logo-urbox.svg" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40">
					<div class="card-number">
						**** **** **** 1234
					</div>
				</div>
				<div class="card-amount">
					<span class="amount-text">Số dư</span>
					<span class="amount-num">100.000.000 đ</span>
				</div>
			</div>

			<p class="w80p mT20 f10 text-center display-block center-content">Thông tin về gói quà tặng và số dư ở đây sẽ giúp bạn nhận được hỗ trợ từ chăm sóc khách hàng UrBox. </p>
			<p class="display-block center-content text-center f15 f-bold mT15">Hotline: <span class="color-blue">0899 189 199</span></p>

		</div>
	</div>
</div>
