<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="ur-logo">
				<img src="./style/images/logo-urbox.svg" alt="">
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div  data-pagination='{"el": ".swiper-pagination"}' class="swiper-container swiper-init mT30 pB55">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="./style/images/swiper-demo-01.svg" alt="">
						<div class="swiper-content f-bold pL20 pR20 f16 mT10">
							Với giftset này bạn có thể đổi quà voucher cho đến khi hết 200.000 đồng
						</div>
					</div>
					<div class="swiper-slide">
						<img src="./style/images/swiper-demo-02.svg" alt="">
						<div class="swiper-content f-bold pL20 pR20 f16 mT10">
							Voucher sau khi đổi<br>
							có thể mang ra cửa hàng để sử dụng
						</div>
					</div>
					<div class="swiper-slide">
						<img src="./style/images/swiper-demo-03.svg" alt="">
						<div class="swiper-content f-bold pL20 pR20 f16 mT10">
							Bạn có thể kiểm tra giá trị số dư<br>
							và xem voucher đã đổi trên đầu trang
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
			<div class="center-content w100p text-align-center mT5 mB30">
				<a href="javascript:void(0)" class=" btn w45p"> Bỏ qua</a>
			</div>
		</div>
		<div class="toolbar toolbar-bottom toolbar-transitioning">
			<div class="toolbar-inner text-align-center ">
				<a class="f15 f-bold center-content" href="tel:+84899189199">
					Hotline: <span class="color-blue">0899 189 199</span>
				</a>
			</div>
		</div>
	</div>

</div>
