<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="my-point w50p fl">
				Số dư: <span class="color-spruce">320.000.000</span>
			</div>
			<div class="my-voucher w50p fr">
				<a href="#" class="bg-paleGrey fr">
					Quà của tôi <span>1</span>
					<img src="style/images/arrow-right.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="home">
			<div class="container">
				<div class="block-card">
					<div class="card-bank mT40">
						<div class="card-number">
							**** **** **** 1213
						</div>
					</div>
					<div class="card-amount">
						<span class="amount-text">Số dư</span>
						<span class="amount-num">100.000.000 đ</span>
					</div>
				</div>
				<div class="form-input mT15">
					<input type="text" class="search-input" placeholder="Thương hiệu">
				</div>
				<div class="clear_both"></div>
				<div class="block-gifts">
					<div class="gift-item">
						<div class="gift-img">
							<img src="style/images/gift-1.png" alt="">
						</div>

						<div class="gift-content">
							<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O</div>
							<div class="gift-price color-spruce">100.000đ</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
