<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="w100p text-align-center">
				<a href="#" class="my-voucher2">
					<img src="style/images/arrow-left-big.png" class="fl" alt="">
					Quà của tôi
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<a href="#" class="browse-more-gift">
				<img src="style/images/icon-gift.png" alt="">
				Mua thêm quà tặng
			</a>
			<div class="mygift-title-type">Sẵn sàng sử dụng (2)</div>
			<div class="my-gift">
				<div class="gift-item">
					<div class="gift-img">
						<img src="style/images/gift-1.png" alt="">
					</div>
					<div class="gift-content">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O 100.000đ</div>
						<div class="gift-exp">Hạn sử dụng: <span class="color-spruce"> 20/10/2020</span></div>
					</div>
				</div>
				<div class="gift-item">
					<div class="gift-img">
						<img src="style/images/gift-1.png" alt="">
					</div>

					<div class="gift-content">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O 100.000đ</div>
						<div class="gift-exp">Hạn sử dụng: <span class="color-spruce"> 20/10/2020</span></div>
					</div>
				</div>
			</div>
			<hr class="hr">
			<div class="mygift-title-type">Đã hết hạn (1)</div>
			<div class="my-gift color-gray">
				<div class="gift-item">
					<div class="gift-img">
						<img src="style/images/gift-1.png" alt="">
					</div>

					<div class="gift-content ">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O 100.000đ</div>
						<div class="gift-exp">Hết hạn: <span class="color-red"> 20/10/2020</span></div>
					</div>
				</div>
			</div>
			<hr class="hr">
			<div class="mygift-title-type">Đã sử dụng (1)</div>
			<div class="my-gift color-gray">

				<div class="gift-item">
					<div class="gift-img">
						<img src="style/images/gift-1.png" alt="">
					</div>

					<div class="gift-content">
						<div class="gift-name">eGift - Combo 01 Vé xem phim BHD 2D Allday + 01 bắp 32O 100.000đ</div>
						<div class="gift-exp">Đã sử dụng</div>
					</div>
				</div>
			</div>
			<div class="pB30"></div>
		</div>
	</div>
</div>
