<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="ur-logo">
				<img src="./style/images/logo-urbox.svg" alt="">
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40">
					<div class="card-number">
						**** **** **** 1213
					</div>
				</div>
				<div class="card-amount">
					<span class="amount-text">Số dư</span>
					<span class="amount-num">100.000.000 đ</span>
				</div>
			</div>

			<div class="mT25 f18 w75p f-bold text-center center-content lh">
				Đổi quà nhiều lần cho đến khi hết số dư
			</div>
			<div class="form-input mT15">
				<label class="f-bold mB10 f15 text-center">Nhập số điện thoại để kích hoạt gói quà tặng</label>
				<input type="text" id='input-phone' class="" placeholder="Số điện thoại của bạn">
				<div id="phone_error" class="hidden error-message">Số điện thoại không chính xác!</div>
			</div>
			<div class="mT30 pT30 mB30">
				<a href="javascript:void(0)" class="btn btn-active w100p" onclick="_.mod.onSetupPhone.showOtp()">Kích hoạt</a>
			</div>
		</div>
		<div class="toolbar toolbar-bottom toolbar-transitioning">
			<div class="toolbar-inner text-align-center ">
				<a class="f15 f-bold center-content" href="tel:+84899189199">
					Hotline: <span class="color-blue">0899 189 199</span>
				</a>
			</div>
		</div>
	</div>
</div>
