<div class="page" data-name="home">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="ur-logo">
				<img src="./style/images/logo-urbox.svg" alt="">
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40">
					<div class="card-number">
						**** **** **** 1213
					</div>
				</div>
				<div class="card-amount">
					<span class="amount-text">Số dư</span>
					<span class="amount-num">100.000.000 đ</span>
				</div>
			</div>

			<div class="mT25 f15 w70p f-bold text-center center-content lh">
				Tạo mã PIN 6 ký tự
			</div>
			<div id="form-pin" class="form-input center-content w100p text-align-center mT15">
				<div id="input-pin">
				<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
				<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
				<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
				<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
				<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
				<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
				<a id="pin-image" class="pin-image" href="javascript:void(0)">
					<img src="./style/images/pin-aye.svg" alt="">
				</a>
				</div>
				<div id="input-repin" class="mT15">
					<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
					<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
					<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
					<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
					<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,false)">
					<input type="password" maxlength="1" class="input_pin" onkeypress="nextpin(this,true)">
					<a id="pin-image2" class="pin-image" href="javascript:void(0)">
						<img src="./style/images/pin-aye.svg" alt="">
					</a>
				</div>
				<input type="hidden" value="" id="hidden-pin">
				<input type="hidden" value="" id="hidden-pin2">
				<div id="msg-pinwarning" class="warning-message hidden text-align-left f14 pL10">Mã PIN hợp lệ!</div>
				<div id="msg-pinerror" class="error-message hidden text-align-left f14 pL10">Mã PIN không khớp!</div>
			</div>
			<div class="mT40 mB30">
				<a href="javascript:void(0)" class="btn btn-active w100p" onclick="_.mod.onSetupPin.savePin()">Tiếp theo</a>
			</div>
		</div>
		<div class="toolbar toolbar-bottom toolbar-transitioning">
			<div class="toolbar-inner text-align-center ">
				<a class="f15 f-bold center-content" href="tel:+84899189199">
					Hotline: <span class="color-blue">0899 189 199</span>
				</a>
			</div>
		</div>
	</div>
</div>
