<div class="page" data-name="save-voucher">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="my-point w50p fl">
				Số dư <span class="color-spruce display-block">320.000.000</span>
			</div>
			<div class="my-voucher w50p fr">
				<a href="#" class="bg-paleGrey fr">
					Quà của tôi <span>1</span>
					<img src="style/images/arrow-right.png" alt="">
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="save-voucher">
				<a href="#">
				<img src="style/images/gift-2.png" class="detail-img" alt="">
				</a>
				<div class="detail-content">
					<a href="#">
						<div class="gift-name">eGift - Tiền mặt The Coffee House</div>
						<div class="gift-price color-spruce">75 pts</div>
						<div class="gift-note">The Coffee House</div>
					</a>
				</div>

			</div>
		</div>
		<hr class="hr mT25 mB15">
		<div class="container">
			<div class = "buttons-row">
				<a href = "#tab1" class = "tab-link tab-link-active">Lưu về điện thoại</a>
				<a href = "#tab2" class = "tab-link">Tặng quà</a>
			</div>
			<div class="tabs voucher-tab">
				<div class="tab tab-active" id="tab1">
					<div class="tab-form">
						<div class="input error-tab">
							<input type="text" name="phone" placeholder="Số điện thoại của bạn">
							<div class="div-error">Sai</div>
						</div>
						<a href="javascript:_.mod.dialog.save_to_phone('style/images/gift-1.png','eGift-Tiền mặt The Coffee House 100.000 đ','20/20/2020')" class="btn-save button-violet">
							<img src="style/images/icon-savetophone.png" alt="">
							Lưu về điện thoại</a>
					</div>
				</div>
				<div class="tab" id="tab2">
					<div class="tab-form">
						<div class="input input2">
							<input type="text" name="phone" placeholder="Tên của bạn">
							<input type="text" name="phone" placeholder="Số điện thoại người nhận">
							<textarea name="phone"  placeholder="Lời nhắn (không bắt buộc)"></textarea>
						</div>

						<a href="javascript:_.mod.dialog.send_gift('(+84) 916 823 123','style/images/gift-1.png','eGift-Tiền mặt The Coffee House 100.000 đ','20/20/2020')" class="btn-save button-violet">
							<img src="style/images/icon-send-as-gift.png" alt="">
							Tặng quà
						</a>
					</div>
				</div>
				<a href="#" class="button button-violet w45p fl pL20 pR20">Sử dụng ngay</a>
				<a href="#" class="button button-violet w45p fr">Lưu về màn hình</a>
			</div>
		</div>

	</div>

</div>
