<div class="page" data-name="welcome">
	<div class="navbar">
		<div class="navbar-inner">
			<div class="ur-logo">
				<img src="./style/images/logo-urbox.svg" alt="">
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="block-card">
				<div class="card-bank mT40" style=" background-image: url('./style/images/bg-vinacap.svg');">
					<div class="card-number">
						**** **** **** 1213
					</div>
				</div>
			</div>

			<div class="mT40 f17 w320 f-bold text-center center-content lh">
				Bộ quà tặng của bạn có giá trị<br>
				x00.000 đồng<br>
				và có thể đổi quà cho đến hết số dư
			</div>

			<div class="mT40 pT10 mB30">
				<a href="#" class="btn w45p">Bỏ qua hướng dẫn</a>
				<a href="#" class="btn btn-active fr w45p">Xem hướng dẫn</a>
			</div>
		</div>
		<div class="toolbar toolbar-bottom toolbar-transitioning">
			<div class="toolbar-inner text-align-center ">
				<a class="f15 f-bold center-content" href="tel:+84899189199">
					Hotline: <span class="color-blue">0899 189 199</span>
				</a>
			</div>
		</div>
	</div>

</div>
